<section class="text-container">
  <h1>About AirCasting</h1>

  <p>AirCasting is a platform for recording, mapping, and sharing health and environmental data using your smartphone. Each AirCasting session lets you capture real-world measurements, annotate the data to tell your story, and share it via the CrowdMap.</p>
  <p>Using the <a href="https://play.google.com/store/apps/details?id=pl.llp.aircasting&amp;hl=en">AirCasting Android app</a>, AirCasters can record, map, and share:</p>

  <ul>
    <li>Sound levels recorded by their phone microphone;</li>
    <li>Temperature, humidity, and fine particulate matter (PM2.5) concentrations recorded by the <a href="http://www.takingspace.org/aircasting/airbeam/">Arduino-powered AirBeam2</a>;</li>
    <li>Temperature, humidity, carbon monoxide (CO) and nitrogen dioxide (NO<sub>2</sub>) gas concentrations recorded by the <a href="http://habitatmap.org/habitatmap_docs/HowToBuildAnAirCastingAirMonitor.pdf">Arduino-powered AirCasting Air Monitor</a>;</li>
    <li>Heart rate, heart rate variability, R to R, breathing rate, activity level, peak acceleration and core temperature measurements recorded by the Zephyr BioHarness 3; and</li>
    <li>Heart rate measurements recorded by the Zephyr HxM.</li>
  </ul>

  <p>Using <a href="http://www.instructables.com/id/AirCasting-LiteBeam/">AirCasting Luminescence</a>, these sensor streams can also be represented using LED lights.</p>
  <p>To start recording, mapping, and sharing sound level data for your neighborhood, simply download the <a href="https://play.google.com/store/apps/details?id=pl.llp.aircasting&amp;hl=en">Air­Casting app</a> to your Android device and press record.  Want to record Air Quality data? <a href="http://www.takingspace.org/aircasting/airbeam/">Buy an AirBeam2</a>, download the  <a href="http://habitatmap.org/habitatmap_docs/HowToBuildAnAirCastingAirMonitor.pdf">AirCasting Air Monitor DIY guide</a>, or build your own monitor and connect it to the AirCasting platform. </p>
</section>

<section class="text-container">
  <h2>Who Uses AirCasting? </h2>

  <p>There are thousands of active changemakers currently using the AirCasting platform, including community-based organizations, schools, research institutions, and citizen scientists interested in health and environmental monitoring, electrical and mechanical engineering, design, rapid prototyping, and open source code. We are actively recruiting additional AirCasters to join our movement. We are seeking . . .  </p>
  <p><strong>Instrument Makers</strong> interested in developing AirCasting compatible sensor packages for new environmental and physiological sensing applications. <i>It's simple to connect your own custom-designed sensor package to the AirCasting app to display and record measurements in real-time.</i></p>
  <p><strong>Educators & Community Leaders</strong> interested in applying science, technology, engineering, art & design, and mathematics to address urgent environmental issues where they live. <i>Schools and community organizations are the vital link between our technology and its application to real world problems.</i> </p>
  <p><strong>Open Source Coders</strong> to push the limits of what’s possible with the AirCasting platform - gamify, add social networking layers, improve instrument performance & communications - the possibilities are truly endless. <i>Because sharing information freely empowers communities to develop their own best solutions, everything we do, from hardware to software, is open source.</i></p>
  <p><strong>Citizen Scientists</strong> from around the world to take measurements, contribute to the crowdmap, and make change! <i>We live in a world where expert knowledge is no longer the exclusive province of experts, where citizens, armed with affordable and accessible instruments, can make unprecedented contributions to scientific understanding. </i></p>
</section>

<section class="text-container">
  <h2>ATTN Hardware Developers</h2>
  <p>It&apos;s simple to connect your own custom-designed sense device to the AirCasting app to display and record sen­sor measurements. Just do the following:</p>

  <ul>
    <li>Download the <a href="https://github.com/HabitatMap/AirCastingAndroidClient/blob/master/arduino/aircasting/aircasting_tmp36.ino">AirCasting Arduino sketch</a>, which controls the sensors and sends data to the app via Blue­tooth.</li>
    <li>Alter the Arduino sketch to communicate your sensor data.</li>
    <li>Use the AirCasting app to send your data to the AirCasting servers for display on the AirCasting website. Want to send the data to your own servers? Just specify the URL in the AirCasting app settings, &ldquo;Menu&rdquo; &gt; &ldquo;Settings&rdquo; &gt; &ldquo;Backend settings&rdquo;.</li>
  </ul>
</section>

<section class="text-container">
  <h2>Open Source</h2>
  <p>AirCasting is an open source project. The <a href="https://github.com/habitatmap">AirCasting app and website code</a> is on GitHub as is the <a href="https://github.com/HabitatMap/AirCastingAndroidClient/tree/master/arduino/aircasting/Airbeam2_Firmware_3_19_18">AirBeam2 Firmware</a> and the <a href="https://github.com/HabitatMap/AirBeam2ElectronicSchematics">electronic schematics for the AirBeam2</a>. The STL files for 3D printing the <a href="https://www.shapeways.com/shops/aircasting">AirBeam2 & LiteBeam enclosures</a> can be downloaded from Shapeways.</p>
</section>

<section class="text-container">
  <h2>How to Use the AirCasting Maps</h2>
  <p>The health and environmental data collected by AirCasters can be viewed via the AirCasting website’s “Maps” page. Along the upper right hand corner of the Maps page there are three tabs: “Fixed”, “Mobile”, and “CrowdMap”. Each of these tabs provides a unique way of viewing and exploring the AirCasting data.</p>
  <p>The Fixed and Mobile tabs display data from individual AirCasting instruments that are either stationary (Fixed) or moving (Mobile). The data collected by AirCasters is organized into sessions, with each session representing a batch of measurements that we’re either collected in the same location (if it’s a Fixed session) or during a set period of time (if it’s a Mobile session). Measurements from Fixed sessions are available in real-time and updated every minute, whereas measurements from mobile sessions are available at the conclusion of a recording session.</p>
  <p>To view a session, select a session from the “Sessions List” located on the left hand side of the page. A dot’s color corresponds to a measurement’s intensity at that location. Refer to the “Heat Legend” to identify the intensity range for a measurement. For example, a yellow dot corresponds to a sound level measurement between 61 and 70 decibels. Note that the relationship between measurement ranges and colors can be adjusted using the “Heat Legend” filter. Hover your mouse over a dot to generate a tooltip with the exact measurement. Filter the AirCasting Sessions list by “Parameter”, “Sensor”, “Location”, “Time Range”, “Tags”, or “Profile Names”. Click “submit” to refresh the Sessions list. To view multiple sessions at once, you must first select a “Parameter” and “Sensor”. To graph the measurements from a single session, toggle the “Sessions Graph” arrow at the bottom of the screen. Hover your mouse over the graph to see the corresponding location on the map along with the measurement for that time period. Zoom in on the graph by clicking and dragging with your mouse or clicking the time frame buttons at the top of the graph. When zoomed in, pan through the data using the slider at the bottom of the graph.</p>
  <p>The CrowdMap tab displays AirCasting data from all Mobile sessions. Each square’s color corresponds to the average intensity of all the measurements recorded in that area. Click on a square to view the underlying data. Refer to the “Heat Legend” to identify the intensity range for a square. For example, an orange square corresponds to an average sound level between 71 and 80 decibels. If no colors are displayed, there’s no data in that area. Note that the relationship between measurement ranges and colors can be adjusted using the “Heat Legend” filter. By default, the CrowdMap displays PM2.5 data from the AirBeam2. To view data from other sensors, use the “Parameter” and “Sensor” filters. You can also filter the CrowdMap by “Location”, “Time Range”, “Tags”, or “Profile Names”. Increase the “CrowdMap Resolution” to display averages for smaller areas. Click “submit” to display your filter selections.</p>
  <p>To get a better view of the map, hide page elements by toggling the arrow in the upper right hand corner. Generate and share a permalink using the permalink button in the upper right hand corner or simply copy and paste the address from the browser window.</p>
</section>

<section class="text-container">
  <h2>AirCasting is a HabitatMap Project</h2>
  <p>HabitatMap is a non-profit environmental health justice organization whose goal is to raise awareness about the impact the environment has on human health. We build tools to support grassroots environmental organizing, including <a href="http://habitatmap.org/">HabitatMap.org</a> - our community mapping platform - and AirCasting. </p>
</section>

<section class="text-container">
  <h2>Thanks!</h2>
  <p>There are dozens of people who contributed time and effort to make AirCasting a reality. In particular, we'd like to thank Radosław Wieczorek and the <a href="https://lunarlogic.io/">Lunar Logic</a> team for their work on the AirCasting software and Raymond Yap for prototyping AirCasting hardware and firmware.</p>
</section>

<section class="text-container">
  <h2>Funders</h2>
  <p>The AirCasting platform and the AirBeam would not have been possible without the generous support of our funders and the partnerships they’ve enabled. Support for AirCasting and the AirBeam have been provided by: Lush Cosmetics Charity Pot, Knight Foundation through a partnership between HabitatMap and Sonoma Technology; the New York State Dept. of Environmental Conservation through a partnership between HabitatMap and Newtown Creek Alliance and HabitatMap and UPROSE; the EPA through a partnership between HabitatMap and Sustainable South Bronx; the Hive Digital Media Learning Fund of the New York Community Trust through a partnership between HabitatMap and New York Hall of Science; the Mozilla Hive NYC Learning Network through a partnership between HabitatMap, Parsons the New School for Design, and New York Hall of Science; NIEHS, EPA, and HHS through a partnership between HabitatMap and researchers and engineers from New York University and Carnegie Mellon’s CREATE lab; New York State Pollution Prevention Institute through a partnership between HabitatMap and New York Hall of Science; the Grey Area Arts Foundation through a partnership between HabitatMap, Sonoma Technology, and AethLabs; and Google Earth Outreach.</p>
</section>

<section class="text-container">
  <h2>Have Questions or Feedback? Contact Us</h2>
  <p>Contact us via email: <a href="mailto:info@habitatmap.org">info@habitatmap.org</a>, or call: 347.410.9499.</p>
</section>
