{
  "presets": [
    ["env", {
      browsers: [
        "last 1 version",
        "not dead",
        "> 0.2%"
      ] // http://browserl.ist/?q=last+1+version%2C+not+dead%2C+%3E+0.2%25
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
