.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
.sass-cache/
.rspec
config/database.yml

# Paperclip
public/system

# Emacs
*~
*#
*.#*

# Vim
*.swp

# netbeans files
nbproject/*

.DS_Store

.generators
.rakeTasks
AirCasting.iml
.rvmrc
config/deploy/*.rb
config/newrelic.yml
