@mixin clearfix {
  clear: both;
  display: block;
  overflow: hidden;
}

@mixin appearance($appearance) {
  appearance: $appearance;
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
}
