@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin button-color($text-color: $text-color, $border-color: $border-color, $bg-color: $bg-color, $bg-color-hover: $bg-color-hover, $text-color-hover: $bg-color) {
  background: $bg-color;
  border-color: $border-color;
  color: $text-color;

  &:hover,
  &:focus {
    background: $bg-color-hover;
    color: $text-color-hover;;
  }
}

@mixin clearfix {
  clear: both;
  display: block;
  overflow: hidden;
}

@mixin appearance($appearance) {
  appearance: $appearance;
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($property) {
  transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
}
