body {
  font-size: 12px;
  line-height: 1.5;
  color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@font-face {
  font-family: "Moderat-Bold";
  src: url("../../fonts/Moderat-Bold.eot");
  src: url("../../fonts/Moderat-Bold.woff2") format("woff2"),
    url("../../fonts/Moderat-Bold.woff") format("woff");
}
