.u--show-on-mobile {
  @media screen and (min-width: $ipad-portrait) {
    display: none;
  }
}

.u--hide-on-mobile {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.u--capitalized {
  font-size: $base-font-size-2;
  text-transform: uppercase;
}
