// colors
$blue: #09a7f0;
$dark-grey: #6b6d7c;
$dark-blue: #242a3f;
$grey-text: #a3a0a4;
$separator-color: #cbcaca;
$separator-color-light: rgba(203, 202, 202, 0.6);
$text-color: #383b41;

// heatmap colors
$grey: lighten($dark-grey, 20%);
$green: #96d788;
$yellow: #ffd960;
$orange: #fca443;
$red: #e95f5f;

$heat-lvl1: #81dbcb;
$heat-lvl2: #4ebcd5;
$heat-lvl3: #2a70b8;
$heat-lvl4: #19237e;

// ui colors
$brand-primary: $blue;
$brand-secondary: $dark-blue;
$input-bg: $dark-grey;
$navy-font: #3e4970;

$shadow-color: rgba(160, 192, 290, 0.5);
$basic-shadow: 1px 1px 4px 0 $shadow-color;
$bottom-shadow: 0px 2px 4px 0px #a6a6a6;
$bottom-shadow-lighter: 0px 2px 4px 0px #bdbdbd;

// element sizes
$nav-height: 50px;
$filters-width: 250px;
$heatmap-height: 65px;
$logo-width: 110px;
$sessions-list-width: 238px;
$action-container-height: 60px;

// spacing
$input-padding: 7px;
$margin-default: 12px;

// typography
$tiny-font: 12px;
$small-font: 14px;
$medium-font: 18px;

$font-stack-regular: 400;
$font-stack-bold: 700;

// other
$basic-radius: 8px;
$input-radius: 6px;

//*********************

// old variables
$text-color: #757575;
$right-hud-width: 320px;
