// colors
$blue: #09a7f0;
$dark-grey: #6b6d7c;
$dark-blue: #242a3f;
$grey-text: #a3a0a4;
$separator-color: #cbcaca;
$separator-color-light: rgba(203, 202, 202, 0.6);
$text-color: #383b41;

// heatmap colors
$grey: lighten($dark-grey, 20%);
$red: #e95f5f;

$theme2-level1-colour: #81dbcb;
$theme2-level2-colour: #4ebcd5;
$theme2-level3-colour: #2a70b8;
$theme2-level4-colour: #19237e;

$theme1-level1-colour: #96d788;
$theme1-level2-colour: #ffd960;
$theme1-level3-colour: #fca443;
$theme1-level4-colour: #e95f5f;

// ui colors
$brand-primary: $blue;
$brand-secondary: $dark-blue;
$input-bg: $dark-grey;
$navy-font: #3e4970;

$shadow-color: rgba(149, 149, 149, 0.5);
$shadow-color-blue: rgba(160, 192, 290, 0.5);
$shadow-color-lighter: rgba(149, 149, 149, 0.3);
$shadow-color-darker: rgba(166, 166, 166, 0.5);
$shadow-color-delicate: rgba(215, 215, 215, 0.5);

$basic-shadow: 0px 2px 4px 0px $shadow-color;
$blue-shadow: 1px 1px 4px 0 $shadow-color-blue;
$darker-shadow: 0px 2px 4px 0px $shadow-color-darker;
$lighter-shadow: 0px 2px 4px 0px $shadow-color-lighter;
$delicate-shadow: 1px 1px 8px 0 $shadow-color-delicate;

// element sizes
$nav-height: 50px;
$filters-width: 250px;
$heatmap-height: 65px;
$logo-width: 110px;
$sessions-list-width: 238px;
$sessions-list-height: 160px;
$action-container-height: 60px;

// spacing
$input-padding: 7px;
$margin-default: 12px;

// typography
$tiny-font: 12px;
$small-font: 14px;
$medium-font: 18px;

$font-stack-regular: 400;
$font-stack-bold: 700;

// z-index stack for elements on top of the map

$sessions-z-index: 4;
$heatmap-z-index: $sessions-z-index;

$full-overlay-z-index: $sessions-z-index + 1;
$partial-overlay-z-index: $heatmap-z-index - 1;

$overlay-info-z-index: $full-overlay-z-index + 1;
$popup-z-index: $full-overlay-z-index + 1;

// other
$basic-radius: 8px;
$input-radius: 6px;

//*********************

// old variables

// TODO: This writes over the "real" $text-color above but I'm leaving it because it seems like it was working for us so far.
// Don't want to introduce changes here now but will look into it after the release.

$text-color: #757575;
