<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> <%= @session.title %> stopped streaming at <%= @session.last_measurement_at %> </p>
  </body>
</html>
