<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your <%= @sensor %> measurements exceeded the value defined in your threshold alert for session <%= @title %>.</p>
  </body>
</html>
