%meta{:property => "og:title", :content => "AirCasting"}
%meta{:property => "og:description", :content => "AirCasting is an open-source platform for recording, mapping, and sharing health and environmental data using your smartphone."}
%meta{:property => "og:image", :content => "#{request.protocol}#{request.host_with_port}#{image_path("static/air-casting-logo-fb.png")}"}
