<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <a class="habitatmap-link" target="_tab" href="http://habitatmap.org" aria-label="habitatmap">
        <%= image_tag("HM_LogoForAC.jpg", alt: "HabitatMap logo") %>
      </a>
      Powered by Habitatmap
    </div>

    <div class="footer-column">
      <div class="social-links">
        <a class="social-links__element" target="_tab" href="http://twitter.com/habitatmap" aria-label="aircasting twitter">
          <%= image_tag("AC_TwitterLogo.jpg", alt: "Twitter logo") %>
        </a>
        <a class="social-links__element" target="_tab" href="http://facebook.com/habitatmap" aria-label="aircasting facebook">
          <%= image_tag("AC_FacebookLogo.jpg", alt: "Facebook logo") %>
        </a>
      </div>
      Follow Us
    </div>

    <div class="footer-column">
      <form action="http://habitatmap.createsend.com/t/r/s/dylldy/" method="post" id="subForm">
        <label class="visuallyhidden" for="newsletter-name">Name</label>
        <input class="footer__input" type="text" placeholder="Name" name="cm-name" id="newsletter-name" required />
        <label class="visuallyhidden" for="newsletter-email">Email</label>
        <input class="footer__input" type="email" placeholder="Email address" name="cm-dylldy-dylldy" id="newsletter-email" required />
        <input type="submit" class="footer__submit" value="Get Email Updates" />
      </form>
    </div>
  </div>
</footer>