<div class="desc">
  <p>
    AirCasting is a platform for recording, mapping, and sharing health and environmental data using your smartphone. Each AirCasting session lets you capture real-world measurements, annotate the data to tell your story, and share it via the CrowdMap.
  </p>
  <p>
    Using the <a href="https://play.google.com/store/apps/details?id=pl.llp.aircasting&hl=en">AirCasting Android app</a>, AirCasters can record, map, and share:
  </p>
  <ul>
    <li>Sound levels recorded by their phone microphone;</li>
    <li>Temperature, humidity, carbon monoxide (CO) and nitrogen dioxide (NO<sub>2</sub>) gas concentrations recorded by the Arduino-powered AirCasting Air Monitor; and</li>
    <li>Heart rate measurements recorded by the Zephyr HxM.</li>
  </ul>
  <%= image_tag('AC_ACAM_PhoneScreenshot.jpg') %>
  <p>
    Get Started:<br /> Download the <a href="https://play.google.com/store/apps/details?id=pl.llp.aircasting&amp;hl=en">AirCasting app</a> and record noise pollution in your neighborhood or place of work.
  </p>
  <p>
    Don&rsquo;t have an Android device? Check out the <a href="http://aircasting.org/map">AirCasting maps</a> to see if someone has already contributed data for your area.
  </p>
  <p>
    Download the <a href="http://www.habitatmap.org/habitatmap_docs/HowToBuildAnAirCastingAirMonitor.pdf">AirCasting Air Monitor DIY guide</a> and measure air quality.
  </p>
  <p>
    Connect the <a href="http://www.zephyr-technology.com/products/fitness">Zephyr HxM</a> heart rate monitor to the AirCasting app and measure how your heart rate responds to your activity level, location, and exposure to noise and air pollution.
  </p>
  <p>
    Download the <a href="http://www.habitatmap.org/habitatmap_docs/MakeYourOwnAirCastingLuminescentApparel.pdf">AirCasting Luminescent Apparel DIY guide</a> and make a fashion statement with your sensor measurements.
  </p>
  <%= image_tag('AC_Vest.jpg') %>
  <div class="columns">
    <div class="col1">
      <a class="habitatmap" target="_tab" href="http://habitatmap.org"></a>
      <span class="label">Powered by Habitatmap</span>
    </div>
    <div class="col2 social">
        <a class="twitter-link" target="_tab" href="http://twitter.com/habitatmap"></a>
        <a class="facebook-link" target="_tab" href="http://facebook.com/habitatmap"></a><br>
        <span class="label">Follow us</span>
    </div>
    <div class="col3">
      <form action="http://habitatmap.createsend.com/t/r/s/dylldy/" method="post" id="subForm">
          <input type="text" placeholder="Name" name="cm-name" id="name" required />
          <input type="email" placeholder="Email address" name="cm-dylldy-dylldy" id="dylldy-dylldy" required />
          <span><b>Get email updates</b></span>
          <input type="submit" value="subscribe" />
      </form>
    </div>
  </div>
</div>
