defaults:
  google_maps_api_key: REPLACEME
  bitly_access_token: REPLACEME
  host: 'http://localhost:5000/'
  host_: localhost:5000
  mailer_from: noreply@localhost
  attachment_secret: "some long and random string"
  rails_secret_key_base: 5431cc4af51b53bbd2ea9ea292a261b7b9a1722573bfc43e8297f79bb289e2ad14e41c08528d397f04b3276727d19a10d48d517d1267d4206ca320d17bcefdea
  honeybadger_api_key: REPLACEME
  honeybadger_env: REPLACEME
  analytics_enabled: "false"
  aws_access_key_id: REPLACEME
  aws_secret_access_key: REPLACEME
  sidekiq_open_aq_import_measurements_enabled: false
  open_aq_sqs_queue_name: "openaq-test"
  purple_air_api_key: REPLACEME
  sidekiq_purple_air_import_measurements_enabled: false
  sidekiq_session_stopped_alerts_enabled: false
  sidekiq_air_now_import_measurements_enabled: false
