# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
common: &common
  google_maps_api_key: REPLACEMEWITHYOURKEY
  staging_server_address: example.com
  experimental_server_address: example.com
  host: 'http://localhost:3000/'
  secret_key_base: a0ce1f3226a51f73bf98893ac64cf40aa79a66eb4b864e4221c32ccce42073deee76250cce9f546d4af10e4cd18d0618cd7ceb31baa4dd505ca4546deb3f1932

development:
  <<: *common

test:
  <<: *common

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *common
