---
:verbose: false
:concurrency: 15
:queues:
  - [critical, 4]
  - [default, 4]
  - [slow, 1]
  - [eea, 4]

:schedule:
  session_stopped_alerts:
    every: "30m"
    class: SessionStoppedAlertsWorker
    queue: critical

  threshold_exceeded_alerts:
    every: "10m"
    class: "ThresholdAlertsWorker"
    queue: critical

  airnow_import:
    cron: "26,56 * * * *"
    class: AirNowImportWorker
    queue: slow

  update_stream_hourly_averages:
    cron: "1 * * * *"
    class: UpdateStreamHourlyAveragesWorker
    queue: slow

  update_stream_daily_averages:
    cron: "5 * * * *"
    class: UpdateStreamDailyAveragesWorker
    queue: slow
