@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Roboto-400.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
src: url("../fonts/Roboto-500.woff2") format("woff2");}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Roboto-600.woff2") format("woff2");
}
