@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Roboto-400.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Roboto-500.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Roboto-600.woff2") format("woff2");
    unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Moderat";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Moderat-Bold.woff2") format("woff2"),
  url("../fonts/Moderat-Bold.woff") format("woff"),
  url("../fonts/Moderat-Bold.ttf") format("truetype");
  ;
}
