.action-buttons {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
}

.action-button {
  font-size: $small-font;
  height: 33px;
  text-transform: capitalize;
}

.action-button--export {
  width: 170px;
}

.action-button--copy-link {
  width: 33px;

  img {
    margin-left: 1px;
    vertical-align: bottom;
  }
}

.action-button--more-sessions {
  width: 134px;
}
