.button {
  border: none;
  border-radius: 30px;
  text-align: center;
}

.button--default {
  background-color: white;
  color: $brand-primary;
}

.button--primary {
  background-color: $brand-primary;
  color: white;
}

.time-frame-button {
  font-size: $tiny-font;
  font-weight: $font-stack-bold;
  line-height: 2;
  padding: 0 18px;
  text-transform: lowercase;
}

.refresh-timerange-button {
  background: transparent;
  border: none;
  border-radius: $input-radius;
  cursor: pointer;
  margin: -$input-padding 0;
  padding: $input-padding;
  position: absolute;
  bottom: calc(24px + #{$input-padding});
  right: 0;

  img:-moz-loading {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

.time-calendar-label {
  color: $navy-font;
}
