.button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.button--default {
  background-color: white;
  color: $brand-primary;
}

.button--primary {
  background-color: $brand-primary;
  color: white;
}

.button--input {
  border: none;
  border-radius: $input-radius;
  font-size: $small-font;
  line-height: 2.2;
  padding: 0 7px;
  text-align: left;
  transition: opacity 0.5s;

  &[disabled] {
    opacity: 0.4;

    & + label {
      opacity: 0.4;
    }
  }
}

.time-frame-button {
  font-size: $tiny-font;
  font-weight: $font-stack-bold;
  line-height: 2;
  padding: 0 18px;
  text-transform: lowercase;
}

.time-calendar-label {
  color: $navy-font;
}

.copy-link-button {
  display: block;
  font-weight: $font-stack-bold;
  margin: 0 auto;
  padding: 5px 15px;
}

.close-button {
  @include appearance(none);
  cursor: pointer;
  font-weight: $font-stack-regular;
  background: transparent;
  border: none;
}

.show-results-button {
  display: none;

  @media screen and (max-width: $tablet-max) {
    @include appearance(none);
    @include flex(0 0 auto);
    background-color: $brand-primary;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: $medium-font;
    height: 50px;
    width: 100%;
    text-transform: capitalize;
  }
}
