.email-popup {
  max-width: 230px;
  z-index: $popup-z-index;

  &.tippy-tooltip.light-border-theme {
    color: initial;
    position: absolute;
    bottom: 56px;
  }
}

.email-popup__button {
  display: block;
  padding: 5px 15px;
}

.email-popup__error-message {
  font-size: $tiny-font;
  margin-bottom: 8px;
}

.email-popup__input {
  min-width: 12em;
  max-width: 100%;
}
