.email-popup {
  animation: show-up 125ms ease;
  padding: .3125rem .5625rem;
  width: 200px;
  z-index: $popup-z-index;

  &.tippy-box {
    position: absolute;
    bottom: 56px;
    left: 11px;
  }
}

.email-popup__button {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
}

.email-popup__error-message {
  font-size: $tiny-font;
  margin-bottom: 8px;
}

.email-popup__input {
  width: 100%;
}
