.filter-popup {
  animation: show-up 0.4s ease;
  background: $white;
  border-radius: $basic-radius;
  box-shadow: $basic-shadow;
  max-height: 80vh;
  overflow: auto;
  padding: $margin-default;
  position: absolute;
  left: calc(#{$filters-width} + 2rem);
  top: 0;
  width: 310px;
  z-index: $popup-z-index;

  @media screen and (max-width: $tablet-max) {
    border-radius: $input-radius;
    left: 0;
    top: 3.4rem;
    max-height: 60vh;
    width: calc(100vw - 2 * #{$margin-default});
  }
}

.filter-popup__list {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 100%;
}

.filter-popup__list--more {
  @include flexbox();
  @include flex-wrap(wrap);
  animation: show-up 1s ease;
}

.filter-popup__toggle-more-button {
  @include appearance(none);
  background: none;
  border: none;
  border-top: 1px solid $separator-color;
  color: $gray-dark;
  cursor: pointer;
  font-size: $tiny-font;
  margin-top: 8px;
  padding-top: 12px;
  text-align: right;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }

  .filter-popup__more & {
    margin-bottom: 16px;
  }
}

.filter-popup-button {
  background: white;
  box-shadow: $basic-shadow;
  border: none;
  border-radius: 0;
  color: $gray-dark;
  flex: 1 0 48%;
  font-family: $bold-font;
  font-size: $tiny-font;
  padding: 8px 12px;
  margin-bottom: $margin-default;

  &.active {
    background: $blue;
    color: white;
  }

  &:nth-child(2n) {
    margin-left: 3%;
  }
}

.filter-popup-secondary-button {
  @include appearance(none);
  background: none;
  border: none;
  color: $gray-dark;
  flex: 1 0 50%;
  font-size: $tiny-font;
  padding: $margin-default;
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;

  &.active {
    color: $blue;
  }
}
