$popup-background-color: #f7f7f7;

.filter-popup {
  animation: show-up 0.4s ease;
  background: $popup-background-color;
  border-radius: $basic-radius;
  box-shadow: $basic-shadow;
  color: $text-color;
  max-height: 80vh;
  overflow: auto;
  padding: $margin-default;
  position: absolute;
  left: calc(#{$filters-width} + 2rem);
  top: 8rem;
  width: 310px;
  z-index: 8;
}

.filter-popup__list {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 100%;
}

.filter-popup__list--more {
  @include flexbox();
  @include flex-wrap(wrap);
  animation: show-up 1s ease;
}

.filter-popup__toggle-more-button {
  @include appearance(none);
  background: $popup-background-color;
  border: none;
  border-top: 1px solid $separator-color;
  cursor: pointer;
  font-size: $tiny-font;
  margin-top: 8px;
  padding-top: 12px;
  text-align: right;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }

  .filter-popup__more & {
    margin-bottom: 16px;
  }
}

.filter-popup-button {
  background: white;
  box-shadow: $blue-shadow;
  border: none;
  color: $dark-blue;
  flex: 1 0 48%;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
  padding: 8px 12px;
  margin-bottom: 12px;

  &.active {
    background: $blue;
    color: white;
    font-weight: $font-stack-bold;
  }

  &:nth-child(2n) {
    margin-left: 3%;
  }
}

.filter-popup-secondary-button {
  @include appearance(none);
  background: none;
  border: none;
  flex: 1 0 50%;
  font-size: $tiny-font;
  padding: 12px;
  text-align: left;
}
