.filter-popup {
  position: absolute;
  z-index: 8;
  top: 8rem;
  width: 310px;
  left: calc(#{$filters-width} + 2rem);
  background: white;
  padding: $margin-default;
  box-shadow: $basic-shadow;
  color: $text-color;
  border-radius: $basic-radius;
  animation: show-up 0.4s ease;
}

.filter-popup__list {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 100%;
}

.filter-popup__list--more {
  animation: show-up 1s ease;
}

.filter-popup__toggle-more-button {
  border: none;
  border-top: 1px solid $separator-color;
  font-size: $tiny-font;
  margin-top: 8px;
  padding-top: 12px;
  text-align: right;
  -webkit-appearance: none;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.filter-popup-button {
  background: white;
  box-shadow: 1px 1px 4px 0 rgba(160, 192, 290, 0.5);
  border: none;
  color: $dark-blue;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
  width: 126px;
  padding: 6px 0;
  margin-bottom: 12px;
}

.filter-popup-button--more {
  border: none;
  display: inline-block;
  font-size: $tiny-font;
  padding: 12px;
  text-align: left;
  width: 50%;
  -webkit-appearance: none;
}
