.filters {
  background: $brand-secondary;
  box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
  color: white;
  min-height: calc(100vh - #{$nav-height});
  min-width: $filters-width;
  position: relative;
  z-index: 2;
  width: $filters-width;
}

.filters-container {
  padding: $margin-default $margin-default 60px $margin-default; // bottom space holds action buttons
}

.filters__actions {
  bottom: 0;
  left: 0;
  padding: $margin-default $margin-default 15px $margin-default;
  position: absolute;
}

.filters__input-group {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.filters__toggle-group {
  position: relative;

  label {
    display: block;
  }
}

.filter-separator {
  border-bottom: white solid 0.6px;
  opacity: 0.4;
  width: 100%;
}

.input-time {
  letter-spacing: -0.4px;
}

.disabled-area {
  pointer-events: none;
  opacity: 0.4;
}

// extends autocomplete dropdown
.ui-menu {
  max-height: 20vh;
  max-width: $filters-width - 2 * $margin-default;
  overflow: auto;
}

.ui-menu-item a.ui-state-hover {
  background: none;
  border: none;
  text-decoration: underline !important;
  margin: 0 !important;
}
