.filters {
  background: $gray-dark;
  color: white;
  font-family: $bold-font;
  height: 0;
  position: relative;
  z-index: $filters-z-index;

  @media screen and (max-width: $tablet-max) {
    @include transform(translateX(100%));
    height: 0;
    transition: transform 200ms ease;
    overflow: hidden;
    width: 100vw;

    &.filters--expanded {
      @include transform(translateX(0%));
      height: calc(100vh - #{$nav-height-mobile});
      overflow-y: auto;
      position: absolute;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
    min-height: calc(100vh - #{$nav-height});
    width: $filters-width;
  }
}

.filters-form-container {
  @include flexbox;
  @include flex-direction(column);

  .filters--expanded & {
    height: calc(100% - #{$nav-height-mobile} - #{$session-type-nav-height});
  }
}

.filters__form {
  @include flex-grow(1);
  padding: $margin-default;
}

.filters__actions {
  bottom: 0;
  left: 0;
  padding: $margin-default $margin-default 15px $margin-default;
  position: absolute;

  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.filters__input-group {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.filters__toggle-group {
  position: relative;

  label {
    display: block;
  }
}

.filter-separator {
  border-bottom: white solid 0.6px;
  opacity: 0.4;
  width: 100%;
}

.disabled-area {
  pointer-events: none;
  opacity: 0.4;
}

// extends autocomplete dropdown
.ui-menu {
  max-height: 20vh;
  max-width: $filters-width - 2 * $margin-default;
  overflow: auto;
  z-index: $popup-z-index;
}

.ui-menu-item a.ui-state-hover {
  background: none;
  border: none;
  text-decoration: underline !important;
  margin: 0 !important;
}

@media screen and (max-width: $tablet-max) {
  [name="time-range"] {
    display: none;
  }
}

@media screen and (min-width: $small-desktop-min) {
  [name="time-range-button"] {
    display: none;
  }
}
