.filters {
  background: $brand-secondary;
  box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
  color: white;
  min-height: calc(100vh - #{$nav-height});
  min-width: $filters-width;
  position: relative;
  z-index: 2;
  width: $filters-width;
}

.filters__form {
  padding: 12px 12px $action-container-height 12px;
}

.filters__actions {
  bottom: 0;
  left: 0;
  padding: 12px;
  position: absolute;
}

.filter-separator {
  border-bottom: white solid 0.6px;
  opacity: 0.4;
  width: 100%;
}

.filters-tag {
  background-color: white;
  border-radius: 15px;
  color: $brand-secondary;
  display: inline-block;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 8px;
}

.filters-tag-close {
  background: image-url("close-icon.svg") no-repeat right center;
  border: none;
  padding: 0 0 0 16px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
}

.input-filters.input-filters-tag {
  margin-bottom: 0px;
}

.tag-container {
  margin-bottom: 24px;
}

.input-time {
  letter-spacing: -0.4px;
}
