.filters {
  background: $gray-dark;
  color: white;
  font-family: $bold-font;
  min-height: calc(100vh - #{$nav-height});
  position: relative;
  z-index: $filters-z-index;

  @media screen and (max-width: $tablet-max) {
    min-height: calc(100vh - #{$nav-height-mobile});
    position: absolute;
    transition: transform 200ms ease;
    width: 100vw;

    &.filters--collapsed {
      @include transform(translateX(100%));
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
    width: $filters-width;
  }
}

.filters-container {
  padding: $margin-default $margin-default 50px $margin-default;
}

.filters__actions {
  bottom: 0;
  left: 0;
  padding: $margin-default $margin-default 15px $margin-default;
  position: absolute;

  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.filters__input-group {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.filters__toggle-group {
  position: relative;

  label {
    display: block;
  }
}

.filter-separator {
  border-bottom: white solid 0.6px;
  opacity: 0.4;
  width: 100%;
}

.disabled-area {
  pointer-events: none;
  opacity: 0.4;
}

// extends autocomplete dropdown
.ui-menu {
  max-height: 20vh;
  max-width: $filters-width - 2 * $margin-default;
  overflow: auto;
}

.ui-menu-item a.ui-state-hover {
  background: none;
  border: none;
  text-decoration: underline !important;
  margin: 0 !important;
}

@media screen and (max-width: $tablet-max) {
  [name="time-range"] {
    display: none;
  }
}

@media screen and (min-width: $small-desktop-min) {
  [name="time-range-button"] {
    display: none;
  }
}
