.overlay {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
  opacity: 0.6;
}

.parameter-filters-popup {
  position: absolute;
  z-index: 8;
  top: 8rem;
  width: 310px;
  left: calc(#{$filters-width} + 2rem);
  background: white;
  padding: $margin-default;
  box-shadow: $basic-shadow;
  color: $text-color;
  border-radius: $basic-radius;
  animation: show-up 0.4s ease;
}

.parameter-more-list {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 100%;
  animation: show-up 1s ease;
}

.parameter-filters-buttons-container {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  width: 100%;
  margin: 0 auto;
}

.more-parameters-link {
  width: 50%;
  font-size: $tiny-font;
  width: 50%;
  padding: 12px;
  border: none;
  -webkit-appearance: none;
  text-align: left;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

.parameters-toggle-open {
  width: 100%;
  border-top: 1px solid $separator-color;
  display: inline-block;
  text-align: right;
  font-size: $tiny-font;
  border: none;
  -webkit-appearance: none;
}
