$filter-actions-height: 60px;

.filters {
  background: $gray-dark;
  color: white;
  font-family: $bold-font;
  position: relative;
  z-index: $filters-z-index;
}

.filters--mobile {
  @include flexbox;
  @include flex-direction(column);
  @include transition(all 100ms ease);
  height: 0;
  overflow: hidden;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: $mobile-filters-z-index;

  &.filters--expanded {
    @include transition(all 0.5s ease);
    overflow-y: auto;
    height: 100%;
    z-index: 1000;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

// ensures proper flex-based layout when filters are open
.nav-icon-placeholder {
  width: 25px;
}

.phone-filters__header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  height: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.filters--desktop {
  box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
  min-height: calc(100vh - #{$nav-height});
  width: $filters-width;

  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.filters-form-container {
  @include flexbox;
  @include flex-direction(column);
  @include flex-grow(1);
}

.filters__form {
  @include flex-grow(1);
  padding: $margin-default;

  @media screen and (min-width: $small-desktop-min) {
    padding-bottom: $filter-actions-height;
  }
}

.filters__actions {
  bottom: 0;
  left: 0;
  padding: $margin-default $margin-default 15px $margin-default;
  position: absolute;

  @media screen and (max-width: $tablet-max) {
    display: none;
  }
}

.filters__input-group {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.filters__toggle-group {
  position: relative;

  label {
    display: block;
  }
}

.filter-separator {
  border-bottom: white solid 0.6px;
  opacity: 0.4;
  width: 100%;
}

.disabled-area {
  pointer-events: none;
  opacity: 0.4;
}

// extends autocomplete dropdown
.ui-menu {
  max-height: 20vh;
  max-width: $filters-width - 2 * $margin-default;
  overflow: auto;
  z-index: $popup-z-index;

  .filters--expanded ~ & {
    max-width: 100%;
    z-index: $mobile-filters-z-index;
  }
}

.ui-menu-item a.ui-state-hover {
  background: none;
  border: none;
  text-decoration: underline !important;
  margin: 0 !important;
}

@media screen and (max-width: $tablet-max) {
  [name="time-range"] {
    display: none;
  }
}

@media screen and (min-width: $small-desktop-min) {
  [name="time-range-button"] {
    display: none;
  }
}
