$popup-background-color: #f7f7f7;

.filter-popup {
  animation: show-up 0.4s ease;
  background: $popup-background-color;
  border-radius: $basic-radius;
  box-shadow: $bottom-shadow-lighter;
  color: $text-color;
  max-height: 80vh;
  overflow: auto;
  padding: $margin-default;
  position: absolute;
  left: calc(#{$filters-width} + 2rem);
  top: 8rem;
  width: 310px;
  z-index: 8;
}

.filter-popup__list {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 100%;
}

.filter-popup__list--more {
  @include flexbox();
  @include flex-wrap(wrap);
  animation: show-up 1s ease;
}

.filter-popup__toggle-more-button {
  background: $popup-background-color;
  border: none;
  border-top: 1px solid $separator-color;
  cursor: pointer;
  font-size: $tiny-font;
  margin-top: 8px;
  padding-top: 12px;
  text-align: right;
  width: 100%;
  -webkit-appearance: none;

  &:hover {
    text-decoration: underline;
  }
}

.filter-popup-button {
  background: white;
  box-shadow: 1px 1px 4px 0 rgba(160, 192, 290, 0.5);
  border: none;
  color: $dark-blue;
  cursor: pointer;
  flex: 1 0 48%;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
  padding: 8px 12px;
  margin-bottom: 12px;

  &.active {
    background: $blue;
    color: white;
    font-weight: $font-stack-bold;
  }

  &:nth-child(2n) {
    margin-left: 3%;
  }
}

.filter-popup-secondary-button {
  background: none;
  border: none;
  cursor: pointer;
  flex: 1 0 50%;
  font-size: $tiny-font;
  padding: 12px;
  text-align: left;
  -webkit-appearance: none;
}
