.filters-info {
  color: $blue;
  line-height: 1.1;
  padding: 0 9px;
  position: absolute;
  left: 68px;

  .header--nav-expanded & {
    color: $white;
  }
}

.filters-info__session-type {
  font-size: 17px;
  font-weight: $font-stack-bold;
}
