.overlay {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
  opacity: 0.56;
}

.parameter-filters-popup {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  background: white;
}

.parameter-filters-buttons-container {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  width: 350px;
  padding: $margin-default;
}
