.filters-info {
  color: $blue;
  line-height: 1.4;
  padding: 0 16px;

  .header--nav-expanded & {
    display: none;
  }
}

.filters-info__session-type {
  font-size: 17px;
}

.filters-info__parameter-sensor {
  font-family: $body-font;
  font-size: 14px;
}
