.footer {
  box-shadow: 0 -5px 3px -4px rgba(51, 51, 51, 0.2);
  font-size: $small-font;
  margin-top: 80px;
  padding: 40px 0;
}

.footer-content {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.footer-column {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-end);
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.footer__input {
  border: 1px solid $shadow-color;
  width: 100%;
  margin-bottom: 12px;
}

.social-links {
  @include flexbox();
}

.social-links__element {
  margin-bottom: 2px;

  &:first-child {
    margin-right: 8px;
  }

  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  .footer-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}
