.footer {
  box-shadow: $footer-shadow;
  color: $text-color;
  font-size: $small-font;
  margin-top: 6vh;
  padding: 40px 0;

  @media screen and (orientation: landscape) {
    margin-top: 40px;
  }
}

.footer-content {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.footer-column {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-end);
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.footer__input {
  border: 1px solid $shadow-color;
  width: 100%;
  margin-bottom: 12px;
}

.footer__submit {
  background-color: #eee;
}

.social-links {
  @include flexbox();
}

.social-links__element {
  margin-bottom: 2px;

  &:first-child {
    margin-right: 8px;
  }

  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  .footer-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}
