.theme1 {
  .first-band {
    fill: $theme1-level1-colour;
  }

  .second-band {
    fill: $theme1-level2-colour;
  }

  .third-band {
    fill: $theme1-level3-colour;
  }

  .fourth-band {
    fill: $theme1-level4-colour;
  }
}
.theme2 {
  .first-band {
    fill: $theme2-level1-colour;
  }

  .second-band {
    fill: $theme2-level2-colour;
  }

  .third-band {
    fill: $theme2-level3-colour;
  }

  .fourth-band {
    fill: $theme2-level4-colour;
  }
}
