.first-band {
  fill: rgba(var(--level1-colour), 1);
}

.second-band {
  fill: rgba(var(--level2-colour), 1);
}

.third-band {
  fill: rgba(var(--level3-colour), 1);
}

.fourth-band {
  fill: rgba(var(--level4-colour), 1);
}
