.header {
  background-color: $white;
  box-shadow: $header-shadow;
  font-family: $bold-font;
  font-size: $base-font-size2;
  height: $nav-height;
  padding: 1rem 0 0.5rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: $header-z-index;

  @media screen and (max-width: $tablet-max) {
    height: $nav-height-mobile;
    padding: 0.5rem 0;

    &.header--nav-expanded {
      background-color: $brand-primary;
      height: 100%;
      overflow-y: auto;
      position: fixed;
      width: 100%;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
    height: auto;
  }
}

.header__brand {
  @media screen and (max-width: $tablet-max) {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &.header__brand--filters {
      height: auto;
      background: $white;
      color: $blue;
      padding-top: 1.25em;
      padding-bottom: 1.25em;
    }
  }
}

.header__logo {
  margin-right: 2rem;
  padding-left: $u-space-small;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $tablet-max) {
    padding-left: 25px; // hamburger icon width
    margin: 0 auto;
    display: none;

    .header--nav-expanded & {
      display: block;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    display: block;
    width: 160px;
  }

  @media screen and (min-width: $desktop-min) {
    padding-left: $u-space-default;
    width: 200px;
  }
}

.header__filter-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: url("../../images/icons/filter-icon.svg") center / auto no-repeat;
  display: block;
  height: 22px;
  outline: none;
  text-decoration: none;
  width: 27px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.header__button {
  @include button-color(
    $text-color: $gray-dark,
    $border-color: $cta-color,
    $bg-color: $cta-color,
    $bg-color-hover: rgba($cta-color, 0.75),
    $text-color-hover: $gray-dark
  );

  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  display: inline-block;
  font-size: $base-font-size-2;
  font-family: $bold-font;
  height: 43px;
  line-height: 1.1rem;
  margin-left: $u-space-small;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-transform: uppercase;

  .header--nav-expanded .nav__sub & {
    @include button-color(
      $text-color: $white,
      $border-color: $white,
      $bg-color: none,
      $bg-color-hover: $white,
      $text-color-hover: $brand-primary
    );
  }
}

.header__toggle-button {
  @include appearance(none);
  background: none;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;

  .filters--mobile & {
    width: 27px;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.header__filter-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: url("../../images/icons/filter-icon.svg") center / auto no-repeat;
  display: block;
  height: 22px;
  outline: none;
  text-decoration: none;
  width: 27px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.header__nav-toggle-button {
  @include appearance(none);
  background: none;
  border: 0;

  @media screen and (min-width: $small-desktop-min) {
    margin-left: $u-space-small;
    margin-right: $u-space-small;
    vertical-align: middle;
  }

  @media screen and (min-width: $desktop-min) {
    margin-right: $u-space-default;
  }
}

.logo--hm-vertical {
  fill: $white !important;
}

.desktop-nav-header {
  @include flexbox;
  @include justify-content(space-between);
  padding-bottom: $u-space-small;

  &__close-button {
    @include appearance(none);
    background: none;
    border: 0;
    padding: 0;
  }

  .logo--hm-vertical {
    display: inline-block;
    position: relative;
    left: -8px;
    margin-top: 3px;
  }
}

.hm-logo {
  height: 58px; // quick fix for consistency with HM landing pages
}
