$header-font-size-desktop: 1.125rem;

.header {
  @include transition(all 0.5s ease);
  background-color: $white;
  box-shadow: $header-shadow;
  font-family: $bold-font;
  font-size: $base-font-size2;
  height: $nav-height;
  padding: 1rem 0 0.5rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: $header-z-index;

  @media screen and (max-width: $tablet-max) {
    height: $nav-height-mobile;
    padding: 0.5rem 0;

    &.header--nav-expanded {
      background-color: $gray;
      height: 100%;
      overflow-y: auto;
      position: fixed;
      width: 100%;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
    font-size: $header-font-size-desktop;
    height: auto;
  }
}

.header__brand {
  @media screen and (max-width: $tablet-max) {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &.header__brand--filters {
      height: auto;
      background: $white;
      color: $blue;
      padding-top: 1.25em;
      padding-bottom: 1.25em;
    }
  }
}

.header__logo {
  margin-right: 2rem;
  padding-left: $u-space-small;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $tablet-max) {
    padding-left: 0;
    padding-right: 20px;
    margin: 0 auto;
    display: none;

    .header--nav-expanded & {
      display: block;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    display: block;
    width: 160px;
  }

  @media screen and (min-width: $desktop-min) {
    padding-left: $u-space-default;
    width: 200px;
  }
}

.header__filter-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: url("../../images/icons/filter-icon.svg") center / auto no-repeat;
  display: block;
  height: 22px;
  outline: none;
  text-decoration: none;
  width: 27px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.header__button {
  @include button-color($blue, $blue, $white, $blue);
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-size: $base-font-size-2;
  font-family: $bold-font;
  height: 43px;
  line-height: 1.1rem;
  margin-left: $u-space-small;
  padding: 0.8rem 1.2rem;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $large-mobile-min) {
    margin: 1rem auto;
    width: 100%;
  }

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      @include button-color($white, $white, $gray, $white);
    }
  }
}

.header__toggle-button {
  @include appearance(none);
  background: none;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;

  .filters--mobile & {
    width: 27px;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.header__filter-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: url("../../images/icons/filter-icon.svg") center / auto no-repeat;
  display: block;
  height: 22px;
  outline: none;
  text-decoration: none;
  width: 27px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}
