$header-font-size-desktop: 1.125rem;
$header-z-index: 999;

.header {
  @include transition(all 0.5s ease);
  font-family: $bold-font;
  font-size: $base-font-size2;
  height: $nav-height-mobile;
  padding: 2rem 0 0.9rem;
  top: 0;
  width: 100%;
  z-index: $header-z-index;

  &.sticky {
    padding: 1rem 0 0.5rem;
  }

  @media screen and (max-width: $tablet-max) {
    padding: 0.5rem 0;

    &.header--nav-expanded {
      height: 100%;
      overflow-y: auto;
      position: fixed;
      width: 100%;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
    font-size: $header-font-size-desktop;
    height: auto;
  }
}

.header__brand {
  @media screen and (max-width: $tablet-max) {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header__logo {
  padding-left: $u-space-small;
  margin-right: 2rem;
  width: 160px;
  position: relative;
  bottom: 3px;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: $tablet-max) {
    display: none;
  }

  @media screen and (min-width: $desktop-min) {
    padding-left: $u-space-default;
    width: 200px;
  }
}

.header__filter-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: url("../../images/icons/filter-icon.svg") center / auto no-repeat;
  display: block;
  height: 22px;
  outline: none;
  text-decoration: none;
  width: 27px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.icon-nav-open {
  .header--nav-expanded & {
    display: none;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.icon-nav-close {
  display: none;

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      display: block;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.nav {
  padding: 0 $u-space-small;
  display: none;

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      @include animation("slide-down 1s ease 1");
      display: block;
      margin-top: $u-space-default;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex(1);
    padding: 0;
    padding-right: $u-space-small;
  }

  @media screen and (min-width: $desktop-min) {
    padding-right: $u-space-default;
  }
}

.nav__menu-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: none;
  display: block;
  height: 50px;
  outline: none;
  position: absolute;
  top: 0;
  text-decoration: none;
  width: 50px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

.nav-main {
  @include flex(0 1 40rem);
}

.nav-sub {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(0 0 24rem);
  border-top: 1px solid $white;
  padding-top: $u-space-small;
  position: relative;

  @media screen and (max-width: $large-mobile-min) {
    @include flex-wrap(wrap);

    .hm-button {
      margin: 1rem auto;
      width: 100%;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    padding: 0;
    margin-left: $u-space-small;
    border: none;
  }
}

.nav-list {
  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
  }
}

.nav-list__link {
  display: block;
  padding: $u-space-tiny 0;

  .nav-sub & {
    padding: $u-space-tiny;
  }

  &.nav-list__link--donate {
    border: none;
    display: inline-block;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media screen and (min-width: $small-desktop-min) {
    display: inline-block;
    padding: $u-space-tiny;
    vertical-align: middle;
  }
}

.subnav-list {
  @include transition(all 0.25s ease);
  min-width: 14rem;
  z-index: $header-z-index; // needed in AC

  @media screen and (max-width: $tablet-max) {
    padding: 0.5rem 0 1rem;
  }

  @media screen and (min-width: $small-desktop-min) {
    opacity: 0;
    left: 0;
    padding: 0.5rem 0 0;
    position: absolute;
    pointer-events: none;
    top: 100%;
  }
}

.nav-list__element {
  position: relative;

  &:hover {
    .subnav-list {
      @media screen and (min-width: $small-desktop-min) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  @media screen and (max-width: $tablet-max) {
    border-top: 1px solid $white;
  }
}

.subnav-list__element {
  margin-bottom: 4px;

  @media screen and (min-width: $small-desktop-min) {
    max-width: 0px;
    overflow: hidden;

    .nav-list__element:hover & {
      @include transition(max-width 0.5s ease-in-out);
      max-width: 10rem;

      @for $i from 2 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: 150ms * $i;
        }
      }
    }
  }
}

.subnav-list__link {
  display: inline-block;
  padding: 0.5rem;
  white-space: nowrap;

  @media screen and (max-width: $tablet-max) {
    font-size: $base-font-size1;
    padding: 0.25rem 0;
  }
}

.header__button {
  font-size: $base-font-size-2;
  margin-left: $u-space-small;
  text-transform: uppercase;
}

.header__toggle-button {
  @include appearance(none);
  background: none;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

// Basic config for list required for the header to work in AC

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subnav-list {
  list-style: none;
  padding: 0.5rem 0 1rem;
}

// Brand logo

.logo--hm {
  width: 8rem;
  display: none;

  @media screen and (min-width: $small-desktop-min) {
    display: block;
  }
}

.logo--hm-monogram {
  width: 1.3rem;

  @media screen and (min-width: $small-desktop-min) {
    display: none;
  }
}

// APPLY AC THEME

$header-link-color-ac: $blue;
$header-link-color-white: $white;

.logo--hm,
.logo--hm-monogram,
.icon-search {
  fill: #00b2ef;

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      fill: $white !important;
    }
  }
}

// Header background

.header {
  background-color: $white;

  @media screen and (max-width: $tablet-max) {
    &.header--nav-expanded,
    .header--nav-expanded & {
      background-color: $gray;
    }
  }
}

// Main navigation links

.nav-list__link {
  color: $header-link-color-ac;

  &[data-current="current page"] {
    opacity: 0.5;
  }

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      color: $white !important;
    }
  }
}

.nav-list__link--search {
  line-height: 1;
}

// Subnavigation links

.subnav-list__link {
  background-color: $blue;
  color: $white;

  &:hover,
  &:focus {
    color: rgba($white, 0.5);
  }

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      background: none;
      color: $white;

      &:hover,
      &:focus {
        color: rgba($white, 0.5);
      }
    }
  }
}

// Header button

.header__button {
  @include button-color(
    $header-link-color-ac,
    $header-link-color-ac,
    $white,
    $header-link-color-ac
  );

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      @include button-color(
        $header-link-color-white,
        $header-link-color-white,
        $gray,
        $header-link-color-white
      );
    }
  }
}

// Hamburger icon

.icon-nav-open {
  stroke: $blue;
}
