.heatmap-button {
  @include flexbox();
  @include justify-content(center);
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: $darker-shadow;
  cursor: pointer;
  height: 25px;
  margin: 0 0 3px 12px;
  width: 25px;

  &:first-of-type {
    margin-left: 20px;
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}
