.icon-nav-open {
  stroke: $blue;

  .header--nav-expanded & {
    display: none;
  }
}

.icon-nav-close {
  display: none;
  stroke: $white;

  .header__brand--filters & {
    display: initial;
    stroke: $blue;
  }

  .header--nav-expanded & {
    display: block;
  }
}

.icon-search {
  cursor: pointer;
  line-height: 1;
  margin-right: 0.5rem;
  width: 1.5rem;

  @media screen and (max-width: $tablet-max) {
    .header--nav-expanded & {
      fill: $white;
    }
  }
}
