.input {
  border: none;
  border-radius: $input-radius;
  font-size: $small-font;
  line-height: 2.2;
  padding: 0 $input-padding;
  transition: opacity 0.5s;

  &[disabled] {
    opacity: 0.4;

    & + label {
      opacity: 0.4;
    }
  }
}

input[type="checkbox"] {
  width: inherit;

  & + label {
    margin-left: 10px;
  }
}

.input--dark {
  background-color: $gray-input;
  color: $white;

  &::placeholder {
    color: transparentize($color: $white, $amount: 0.5);
    text-transform: capitalize;
  }
}

.input--filters {
  border-radius: 0;
  margin-bottom: 20px;
}

.input--time {
  letter-spacing: -0.6px;
}
