.map-filters {
  min-height: calc(100vh - #{$nav-height});
  width: $filters-width;
  min-width: $filters-width;
  background: $brand-secondary;
  color: white;
  z-index: 2;
  position: relative;
  box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
}

.filters-form {
  padding: 12px;
}

.sessions-type {
  width: 100%;
  @include flexbox();
  @include justify-content(space-between);
}

.session-type-mobile,
.session-type-fixed {
  width: 50%;
  background-color: $brand-primary;
  font-size: $small-font;
  padding: $margin-default;
  text-align: left;
  color: white;
  border: none;
  font-weight: $font-stack-bold;
  z-index: 1;
  &.selected {
    background-color: $brand-secondary;
    box-shadow: 1px 1px 6px 0 rgba(51, 51, 51, 0.5);
    z-index: 2;
  }
  &:focus {
    outline: none;
  }
}

.filter-separator {
  width: 100%;
  border-bottom: white solid 0.6px;
  opacity: 0.4;
}

.filters-buttons {
  width: 100%;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $margin-default;
}

.export-button {
  width: 170px;
  text-align: center;
}

.filters-tag {
  display: inline-block;
  background-color: white;
  color: $brand-secondary;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 8px 3px 7px;
  border-radius: 15px;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
}

.filters-tag-close {
  width: 8px;
  height: 8px;
  padding: 0 0 0 12px;
  border: none;
  background: url("close-icon.svg") no-repeat right center;
}

.input-filters.input-filters-tag {
  margin-bottom: 0px;
}

.tag-container {
  margin-bottom: 24px;
}

.input-time {
  letter-spacing: -0.4px;
}
