.map-filters {
  min-height: calc(100vh - #{$nav-height});
  width: $filters-width;
  min-width: $filters-width;
  background: $brand-secondary;
  color: white;
  z-index: 2;
  position: relative;
}

.filters-form {
  padding: 16px;
}

.sessions-type {
  width: 100%;
  @include flexbox();
  @include justify-content(space-between);
}

.session-type-mobile, .session-type-fixed {
  width: 50%;
  background-color: $brand-primary;
  font-size: $small-font;
  padding: $margin-default;
  text-align: left;
  color: white;
  border: none;
  font-weight: $font-stack-bold;
  &.selected {
    background-color: $brand-secondary;
  }
  &:focus {
    outline: none;
  }
}

.filter-separator {
  width: 100%;
  border-bottom: white solid 0.6px;
  opacity: 0.4;
}

.filters-buttons {
  width: 100%;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $margin-default;
}

.export-button {
  width: 170px;
}
