$search-control-width: 300px;

.search-control {
  position: absolute;
  right: calc(50% - #{$search-control-width/2});
  text-align: center;
  top: 6px;
  width: $search-control-width;
  z-index: 1;
}

.search-control__switch {
  background: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
  display: inline-block;
  height: 25px;
  padding: 4px 25px 3px 10px;
}

.search-control__button {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 150px;

  img {
    padding-left: $input-padding;
  }
}

label[for="checkbox-search-as-i-move"] {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: $font-stack-regular;
}
