.maps-page-container {
  @media screen and (min-width: $ipad-portrait) {
    @include flexbox();
    @include justify-content(space-between);
  }
}

.maps-content-container {
  position: relative;

  @media screen and (min-width: $ipad-portrait) {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
  }
}

.map-container {
  flex: 1 1 100%;
  position: relative;

  @media screen and (orientation: portrait) {
    height: calc(100vh - #{$heatmap-height-mobile} - #{$nav-height});
  }
}

.map {
  height: calc(100vh - #{$heatmap-height-mobile} - #{$nav-height});
  width: 100vw;

  @media screen and (min-width: $ipad-portrait) {
    height: 100%;
    width: calc(100vw - #{$filters-width});
  }
}
