.maps-page-container {
  @include flexbox();
  @include justify-content(space-between);
}

.maps-content-container {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
}

.map-container {
  min-height: calc((100vh - #{$heatmap-height}) - #{$nav-height});
  position: relative;
}

.heatmap {
  height: $heatmap-height;
  background: white;
  width: 100vw;
}
