.maps-page-container {
  @media screen and (min-width: $ipad-portrait) {
    @include flexbox();
    @include justify-content(space-between);
  }
}

.maps-content-container {
  position: relative;

  @media screen and (min-width: $ipad-portrait) {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
  }
}

.map-container {
  position: relative;
  flex: 1 1 100%;
}

.heatmap {
  background: white;
  flex: 1 0 $heatmap-height;
}

.map {
  height: 100vh;
  width: 100vw;

  @media screen and (min-width: $ipad-portrait) {
    height: 100%;
    width: calc(100vw - #{$filters-width});
  }
}
