.marker {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  color: transparent;
  cursor: pointer;

  &.default {
    background-color: $grey;
  }

  &.highest {
    @extend .red-bg;
  }

  &.high {
    @extend .orange-bg;
  }

  &.mid {
    @extend .yellow-bg;
  }

  &.low {
    @extend .green-bg;
  }
}

.data-marker {
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  padding: 0 5px 0 18px;
  position: absolute;
  line-height: 18px;
  left: -10px;
  top: -11px;

  &.highest {
    border: 1px solid $red;
  }

  &.high {
    border: 1px solid $orange;
  }

  &.mid {
    border: 1px solid $yellow;
  }

  &.low {
    border: 1px solid $green;
  }

  &.default {
    border: 1px solid $grey;
  }
}

.data-marker::before {
  border-radius: 50%;
  content: "";
  height: 12px;
  left: 3.6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
}

.data-marker.highest::before {
  background: $red;
}

.data-marker.high::before {
  background: $orange;
}

.data-marker.mid::before {
  background: $yellow;
}

.data-marker.low::before {
  background: $green;
}

.data-marker.default::before {
  background: $grey;
}

.data-marker::after {
  background: transparent;
  border-radius: 50%;
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  left: -14px;
  top: -14px;
  z-index: -1;
}

@mixin halo($color) {
  background-image: radial-gradient(
    circle at 50%,
    transparentize($color, 0.25) 10px,
    transparentize($color, 0.5) 45%,
    rgba(255, 255, 255, 0) 70%
  );
}

.data-marker.default::after {
  @include halo($grey);
}

.data-marker.highest::after,
.marker.highest::after {
  @include halo($red);
}

.data-marker.high::after,
.marker.high::after {
  @include halo($orange);
}

.data-marker.mid::after,
.marker.mid::after {
  @include halo($yellow);
}

.data-marker.low::after,
.marker.low::after {
  @include halo($green);
}

.marker-container {
  position: absolute;
  height: 0px;
  width: 100px;
}

#highlightMarkerLayer img {
  animation: pulse 0.7s infinite alternate;
  -webkit-animation: pulse 0.7s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

/* Animaitons */
keyframes pulse {
  to {
    transform: scale(0.23);
    -webkit-transform: scale(0.23);
  }
}

@-webkit-keyframes pulse {
  to {
    transform: scale(0.23);
    -webkit-transform: scale(0.23);
  }
}
