.nav-list {
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $small-desktop-min) {
    font-size: $nav-font-size-desktop;
  }
}

.nav-list__link {
  color: $white;
  display: block;
  padding: $u-space-tiny 0;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.nav-list__element {
  border-top: 1px solid $white;
}
