.nav {
  padding: 0 $u-space-small;
  display: none;

  @media screen and (max-width: $tablet-max) {
    line-height: 1.22;

    .header--nav-expanded & {
      @include animation("slide-down 1s ease 1");
      display: block;
      margin-top: $u-space-default;
    }
  }

  @media screen and (min-width: $small-desktop-min) {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex(1);
    height: 56px;
    padding: 0;
    padding-right: $u-space-small;
  }

  @media screen and (min-width: $desktop-min) {
    padding-right: $u-space-default;
  }
}

.nav__main {
  @include flex(0 1 40rem);
}

.nav__sub {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(0 0 25rem);
  border-top: 1px solid $white;
  padding-top: $u-space-small;
  position: relative;

  @media screen and (max-width: $large-mobile-min) {
    @include flex-wrap(wrap);
  }

  @media screen and (min-width: $small-desktop-min) {
    padding: 0;
    margin-left: $u-space-small;
    border: none;
  }
}
