.nav {
  display: none;
  height: 100vh;
  overflow: scroll;
  padding: 0 $u-space-small;

  .header--nav-expanded & {
    display: block;

    @media screen and (max-width: $tablet-max) {
      @include animation("slide-down 1s ease 1");
      margin-top: $u-space-default;
      overflow: visible;
    }

    @media screen and (min-width: $small-desktop-min) {
      @include animation("slide-left 300ms ease 1");
      background-color: $brand-primary;
      padding: 1.5rem 2rem;
      position: absolute;
      right: 0;
      top: 0;
      min-width: 22rem;
    }
  }
}

.nav__sub {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(0 0 17rem);
  border-top: 1px solid $white;
  padding-top: $u-space-small;
  position: relative;

  // @media screen and (max-width: $large-mobile-min) {
  //   @include flex-wrap(wrap);
  // }
}
