$overlay-info-width: 500px;

.overlay-info {
  color: $dark-blue;
  font-size: $medium-font;
  font-weight: $font-stack-bold;
  position: relative;
  z-index: $overlay-info-z-index;

  p {
    position: absolute;
    top: 40vh;
    text-align: center;

    @media screen and (min-width: $small-desktop-min) {
      left: calc(50vw - #{$overlay-info-width * 0.5});
    }

    @media screen and (max-width: $tablet-max) {
      width: 100%;
    }
  }
}
