.overlay {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  z-index: $full-overlay-z-index;
  background-color: white;
  opacity: 0.6;

  &.overlay--indoor {
    z-index: $partial-overlay-z-index;
    height: calc(100% - #{$heatmap-height});

    @media screen and (max-width: $tablet-max) {
      height: calc(100% - #{$heatmap-height-mobile});
    }
  }
}
