.refresh-timerange-button {
  background: transparent;
  border: none;
  border-radius: $input-radius;
  cursor: pointer;
  margin: -$input-padding 0;
  padding: $input-padding;
  position: absolute;
  bottom: 27.8px; // button height
  right: 0;

  img:-moz-loading {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
