.sessions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $sessions-z-index;

  @media screen and (min-width: $ipad-portrait) {
    width: calc(100vw - #{$filters-width});
  }
}

.session-cards-container {
  @include flexbox();
  @include flex-direction(row);
  overflow: auto;

  @media (hover: hover) {
    overflow: hidden;

    &:hover {
      overflow: auto;
    }
  }
}

.session-list {
  height: $sessions-list-height;
  padding-right: $margin-default;
}

.session-list__header {
  display: inline-block;
  font-size: $medium-font;
  font-weight: $font-stack-bold;
  margin: 0 $margin-default;
  color: $brand-secondary;
}

.session-list__number {
  font-size: $small-font;
  color: $brand-secondary;
}

.more-sessions-button-container {
  @include flexbox();
  @include align-items(center);
  padding: 0 $margin-default 0 18px;

  @media screen and (max-width: $mobile) {
    padding-left: 10px;
  }
}
