.sessions-container {
  @include flexbox();
  @include flex-direction(row);
  width: calc(100vw - #{$filters-width});
  overflow-x: scroll;
}

.sessions {
  padding: $margin-default $margin-default 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  min-width: 100%;
}

.session {
  background: white;
  min-width: 220px;
  margin: $margin-default 0 $margin-default $margin-default;
  padding: $margin-default;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px #BDBDBD;
}

.session-header-container {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(flex-start);
}

.sessions-header {
  display: inline-block;
  font-size: $medium-font;
  font-weight: $font-stack-bold;
  margin: 0 $margin-default;
  color: $brand-secondary;
}

.sessions-number {
  font-size: $small-font;
  color: $brand-secondary;
}

.session-color {
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
  border-radius: 12px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.session-name {
  font-size: 16px;
  font-weight: $font-stack-regular;
}

.session-owner {
  font-size: $small-font;
  margin: 2px 0 4px 22px;
}

.session-dates {
  font-size: $tiny-font;
  margin-right: 3px;
}
