.sessions {
  padding: $margin-default $margin-default 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $sessions-z-index;
  min-width: 100%;
  min-width: calc(100vw - #{$filters-width});
  max-width: calc(100vw - #{$filters-width});
}

.session-cards-container {
  @include flexbox();
  @include flex-direction(row);
  width: calc(100vw - #{$filters-width});
  overflow-x: hidden;

  &:hover {
    overflow-x: auto;
  }
}

.session-list {
  height: $sessions-list-height;
}

.session-list__header {
  display: inline-block;
  font-size: $medium-font;
  font-weight: $font-stack-bold;
  margin: 0 $margin-default;
  color: $brand-secondary;
}

.session-list__number {
  font-size: $small-font;
  color: $brand-secondary;
}

.more-sessions-button-container {
  @include flexbox();
  @include align-items(center);
  padding: 0 24px 0 18px;
}
