.single-session-container {
  @include flexbox();
  @include flex-direction(row);
  background-color: white;
  border-radius: $basic-radius;
  box-shadow: $lighter-shadow;
  margin: 0 auto $margin-default auto;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 95%;
}

.single-session__aside {
  display: flex;
  padding-right: 16px;
}

.single-session__graph {
  flex: 1;
  height: 226px;
}

.single-session__info {
  @include flexbox();
  flex-direction: column;
  justify-content: space-between;
  width: 215px;
}

.single-session__name {
  display: -webkit-box;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: $medium-font;
  max-height: 3em; // for browsers that don't support clamp, including Firefox <= 67 - still trims but with no ellipsis (...)
  overflow: hidden;
  word-break: break-word;
}

.single-session__username {
  font-size: $small-font;
}

.single-session__max {
  font-size: $tiny-font;
}

.single-session__avg {
  font-size: $medium-font;
}

.single-session__sensor {
  font-size: $tiny-font;
  margin-bottom: 16px;
}

.single-session__date {
  font-size: $tiny-font;
}

.session-numbers-container {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
}

.session-min-max-container {
  padding: 6px 15px 6px 0;
}

.single-session__color {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  margin-right: 3px;
  margin-top: 5px;
  float: left;
}

.single-session__avg-color {
  height: 9px;
  width: 9px;
  border-radius: 9px;
  margin-right: 6px;
  margin-top: 11px;
  float: left;
}

.single-session__close-button {
  font-size: 32px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 5px;
}

.single-session__placeholder {
  height: 57px;
}

.highcharts-scrollbar-thumb,
.highcharts-scrollbar-arrow,
.highcharts-scrollbar-button {
  cursor: pointer;
}
