.single-session {
  min-width: calc(100vw - #{$filters-width});
  max-width: calc(100vw - #{$filters-width});
  position: relative;
}

.single-session-container {
  width: 95%;
  margin: 0 auto $margin-default auto;
  overflow: hidden;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(space-between);
  background-color: white;
  padding: 16px 16px 0 16px;
  border-radius: $basic-radius;
  box-shadow: $lighter-shadow;
}

.single-session-info {
  min-width: 215px; // temporary, this will all be flexbox
  width: 20%;
}

.single-session-graph {
  width: 80%;
}

.single-session-name {
  font-size: $medium-font;
}

.single-session-username {
  font-size: $small-font;
}

.single-session-max {
  font-size: $tiny-font;
}

.single-session-avg {
  font-size: $medium-font;
}

.single-session-sensor {
  font-size: $tiny-font;
  margin-bottom: 16px;
}

.single-session-date {
  font-size: $tiny-font;
}

.session-numbers-container {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
}

.single-min-max-container {
  padding: 6px 15px 6px 0;
}

.single-session-color {
  min-width: 6px;
  min-height: 6px;
  max-width: 6px;
  max-height: 6px;
  border-radius: 12px;
  margin-right: 3px;
  margin-top: 5px;
  float: left;
}

.single-session-avg-color {
  min-width: 9px;
  min-height: 9px;
  max-width: 9px;
  max-height: 9px;
  border-radius: 12px;
  margin-right: 6px;
  margin-top: 11px;
  float: left;
}

.single-session-placeholder {
  height: 57px;
}
