.single-session {
  min-width: calc(100vw - #{$filters-width});
  max-width: calc(100vw - #{$filters-width});
  position: relative;
}

.single-session-container {
  width: 95%;
  margin: 0 auto $margin-default auto;
  overflow: hidden;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  background-color: white;
  padding: $margin-default;
}

.single-session-info {
  width: 20%;
}

.single-session-graph {
  width: 80%;
}
