.nav__menu-button--hamburger {
  background: url("../../images/icons/menu-icon-white.svg") center no-repeat;

  .menu-collapsed & {
    background-image: url("../../images/icons/menu-icon.svg");
  }
}

.nav__menu-button--filter {
  background: url("../../images/icons/filter-icon.svg") center / auto 17px
    no-repeat;
}
