.nav {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  height: $nav-height;
  background-color: white;
  @include flexbox();
  z-index: 5;
  position: relative;
  box-shadow: 1px 1px 2px 0 rgba(51, 51, 51, 0.2);

  ul {
    padding: 0;
    padding-right: 10px;
    margin: 0 0 0 calc(#{$filters-width} - #{$logo-width});
  }

  ul li {
    display: inline-block;
    text-align: left;
  }
}

.nav-logo {
  padding-left: 24px;
  @include flexbox();
  @include align-items(center);

  img {
    margin-top: -6px;
  }
}

.nav__link {
  color: $text-color;
  display: inline-block;
  line-height: $nav-height;
  width: auto;
  text-transform: lowercase;
  font-weight: $font-stack-regular;
  font-size: $small-font;
  margin-right: 65px;

  li.active & {
    color: $dark-blue;
    font-weight: $font-stack-bold;
  }
}
