header {
  @include flexbox();
  background-color: $dark-blue;
  box-shadow: 1px 1px 2px 0 $shadow-color-dark;
  margin: 0;
  position: relative;
  z-index: 999;

  &.menu-collapsed {
    height: $nav-height;
    overflow: hidden;
    background-color: white;
  }

  @media screen and (max-width: $mobile) {
    &:not(.menu-collapsed) {
      box-shadow: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;

      @media screen and (max-height: 360px) and (orientation: landscape) {
        ul li {
          margin-bottom: 0.25em;
        }
      }
    }

    &:not(.menu-collapsed) + main {
      display: none;
    }
  }

  @media screen and (min-width: $ipad-portrait) {
    height: $nav-height;
  }
}

.logo {
  padding-left: 24px;
  position: absolute;
  top: 11px;

  @media screen and (max-width: $mobile) {
    display: none;

    .menu-collapsed & {
      display: block;
      padding-left: 0;
      text-align: center;
      width: 100%;
    }
  }
}

.nav {
  @media screen and (min-width: $ipad-portrait) {
    margin: 0 0 0 $filters-width;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0 10px 0 4px;

    @media screen and (max-width: $mobile) {
      margin: 0;
      padding: 50px 0 20px;
    }
  }

  ul li {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;

    @media screen and (max-width: $mobile) {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.nav__menu-button {
  @include appearance(none);
  border: none;
  cursor: pointer;
  background: none;
  display: block;
  outline: none;
  position: absolute;
  text-decoration: none;

  @media screen and (min-width: $ipad-portrait) {
    display: none;
  }
}

.nav__menu-button--hamburger {
  height: 50px;
  left: 0;
  top: 0;
  width: 50px;
}

.nav__menu-button--filter {
  right: 24px;
  top: 16px;

  > img {
    height: 17px;
  }
}

.nav__link {
  color: $text-color;
  display: inline-block;
  font-size: $small-font;
  font-weight: $font-stack-regular;
  line-height: $nav-height;
  text-transform: lowercase;
  margin-right: 65px;

  @media screen and (max-width: $mobile) {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: $font-stack-bold;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }

  &:hover {
    text-decoration: underline;
  }

  li.active & {
    @media screen and (min-width: $ipad-portrait) {
      color: $dark-blue;
      font-weight: $font-stack-bold;
    }
  }
}
