.subnav-list {
  line-height: normal;
  list-style: none;
  min-width: 14rem;
  padding: 0.5rem 0 1rem;
  z-index: $header-z-index;
}

.subnav-list__element {
  margin-bottom: 4px;
}

.subnav-list__link {
  color: $white;
  display: inline-block;
  font-size: $base-font-size1;
  padding: 0.25rem 0;
  white-space: nowrap;

  &[data-current="current page"] {
    opacity: 0.55;
  }

  &:hover,
  &:focus {
    color: rgba($white, 0.55);
  }

  @media screen and (min-width: $small-desktop-min) {
    font-size: $subnav-font-size-desktop;
  }
}
