.tag-container {
  margin-bottom: 24px;
  order: -1;

  & + input {
    margin-bottom: 0;
  }
}

.tag {
  background-color: white;
  border-radius: 15px;
  color: $brand-secondary;
  display: inline-block;
  font-size: $tiny-font;
  font-weight: $font-stack-regular;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 0 3px 8px;
}

.tag-close {
  background: url("../../images/icons/close-icon.svg") no-repeat 8px center;
  border: none;
  cursor: pointer;
  margin: -12px 0;
  padding: 12px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
}
