.toggle-button {
  @include appearance(none);
  background-color: $dark-blue;
  border: 1px solid $dark-grey;
  color: #cecece;
  cursor: pointer;
  font-size: $small-font;
  padding: 7px 0;
  width: 50%;

  &:first-of-type {
    border-radius: $input-radius 0 0 $input-radius;
  }

  &:last-of-type {
    border-radius: 0 $input-radius $input-radius 0;
  }
}

.toggle-button--pressed {
  background-color: $dark-grey;
  color: white;
}
