.toggle-button {
  @include appearance(none);
  background-color: $gray-dark;
  border: 1px solid $gray-input;
  color: $white;
  cursor: pointer;
  font-size: $small-font;
  line-height: 1.15;
  padding: 7px 0;
  text-transform: capitalize;
  width: 50%;
}

.toggle-button--pressed {
  background-color: $gray-input;
  color: white;
}
