.tippy-tooltip input {
  border: 1px solid #ddd;
  margin: 0.5em 0;
}

[data-tippy-content] {
  position: absolute;
  right: 0;
  top: 0;

  img:-moz-loading {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
