.grey-bg {
  background: $grey;
}

.green-bg {
  background: $green;
}

.yellow-bg {
  background: $yellow;
}

.orange-bg {
  background: $orange;
}

.red-bg {
  background: $red;
}

.heat-lvl1-bg {
  background: $heat-lvl1;
}

.heat-lvl2-bg {
  background: $heat-lvl2;
}

.heat-lvl3-bg {
  background: $heat-lvl3;
}

.heat-lvl4-bg {
  background: $heat-lvl4;
}
