body {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  margin: 0;
}
