// old variables
$brand-color: #757575;
$text-color: #757575;
$button-color: #757575;
$button-front: #fff;
$link-color: #558000;
$right-hud-width: 320px;
$color-body: #f1f1f1;

// new variables

// colors
$blue: #09A7F0;
$dark-grey: #6B6D7C;
$dark-blue: #242A3F;

//heatmap colors

$green: #96D788;
$yellow: #FFD960;
$orange: #FCA443;
$red: #E95F5F;

$heat-lvl1: #81DBCB;
$heat-lvl2: #4EBCD5;
$heat-lvl3: #2A70B8;
$heat-lvl4: #19237E;

// ui colors
$brand-primary: $blue;
$brand-secondary: $dark-blue;
$input-bg: $dark-grey;

// element sizes
$nav-height: 50px;
$filters-width: 250px;
$heatmap-height: 65px;

// margins
$margin-default: 12px;

// typography
$tiny-font: 12px;
$small-font: 14px;
$medium-font: 18px;

$font-stack-regular: 400;
$font-stack-bold: 700;
