.grey-bg {
  background: $grey;
}

.level1-bg {
  background: var(--level1-colour);
}

.level2-bg {
  background: var(--level2-colour);
}

.level3-bg {
  background: var(--level3-colour);
}

.level4-bg {
  background: var(--level4-colour);
}
