.grey-bg {
  background: $grey;
}

.theme1 {
  .level1-bg {
    background: $theme1-level1-colour;
  }

  .level2-bg {
    background: $theme1-level2-colour;
  }

  .level3-bg {
    background: $theme1-level3-colour;
  }

  .level4-bg {
    background: $theme1-level4-colour;
  }
}

.theme2 {
  .level1-bg {
    background: $theme2-level1-colour;
  }

  .level2-bg {
    background: $theme2-level2-colour;
  }

  .level3-bg {
    background: $theme2-level3-colour;
  }

  .level4-bg {
    background: $theme2-level4-colour;
  }
}
