.grey-bg {
  background: $grey;
}

.level1-bg {
  background: rgba(var(--level1-colour), 1);
}

.level2-bg {
  background: rgba(var(--level2-colour), 1);
}

.level3-bg {
  background: rgba(var(--level3-colour), 1);
}

.level4-bg {
  background: rgba(var(--level4-colour), 1);
}
