.filters-button {
  background-color: $brand-primary;
  height: 33px;
  line-height: 33px;
  border-radius: 30px;
  font-size: $small-font;
  border: none;
  color: white;
  text-align: center;
  font-weight: $font-stack-bold;
}

.circular-button {
  height: 33px;
  width: 33px;
}

.link-button {
  marign-top: 3px;
}

.clear-button {
  background: white;
  border-radius: 30px;
  font-size: $tiny-font;
  color: $dark-blue;
  font-weight: $font-stack-regular;
  box-shadow: 1px 1px 4px 0 rgba(160, 192, 290, 0.5);
  border: none;
}

.parameter-filters-button {
  @extend .clear-button;
  width: 126px;
  padding: 6px 0;
  margin-bottom: 12px;
}

.btn-primary {
  background-color: $brand-primary;
  border-radius: 30px;
  font-size: $tiny-font;
  line-height: 2;
  border: none;
  color: white;
  text-align: center;
  font-weight: $font-stack-bold;
  padding: 0 18px;
  text-transform: lowercase;
}

.cancelBtn {
  font-size: $tiny-font;
  line-height: 2;
  border: none;
  color: $brand-primary;
  text-align: center;
  font-weight: $font-stack-bold;
  padding: 0 18px;
  text-transform: lowercase;
}

.time-calendar-label {
  color: $navy-font;
}
