label {
  font-size: $tiny-font;
  font-weight: bold;
  transition: opacity 0.5s;
}

input {
  border: none;
  border-radius: $input-radius;
  font-size: $small-font;
  line-height: 2.2;
  width: 100%;
  padding: 0 $input-padding;
  transition: opacity 0.5s;

  &[disabled] {
    opacity: 0.4;
    transition: opacity 0.5s;

    & + label {
      opacity: 0.4;
      transition: opacity 0.5s;
    }
  }
}

input[type="checkbox"] {
  width: inherit;

  & + label {
    margin-left: 10px;
  }
}

.input-dark {
  background-color: $input-bg;
  color: white;

  &::placeholder {
    color: #a0a3b2;
  }
}

.input-filters {
  margin-bottom: 24px;
}
