*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
html {
  background-color: white;
}

body {
  overflow-x: hidden;
  &.disable-scrolling {
    overflow: hidden !important;
  }
}

main {
  z-index: 0;
}

strong,
b {
  font-weight: $font-stack-bold;
}

[ng-cloak],
.ng-cloak {
  display: none;
}

.error {
  color: $red;
}

a {
  color: $dark-blue;
  text-decoration: none;
  font-weight: $font-stack-regular;
}

.lum-open {
  z-index: 2050 !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// disable showing alt text until images are loaded in FF
img:-moz-loading {
  height: 0;
  width: 0;
  visibility: hidden;
}
