nav {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  height: $nav-height;
  background-color: white;
  ul {
    padding: 0;
    padding-right: 10px;
    margin: 0 0 0 $filters-width;
  }
  ul li {
    display: inline-block;
    text-align: left;
  }
  a {
    display: inline-block;
    line-height: $nav-height;
    width: auto;
    color: #B0B0B0;
    text-transform: lowercase;
    font-weight: $font-stack-regular;
    font-size: $small-font;
    margin-right: 65px;
  }
}
