.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $brand-primary;
  border-color: $brand-primary transparent $brand-primary transparent;
  animation: spinning 1.2s linear infinite;
}
