<div id="crowd-map-tab">
  <h4 ng-click="toggle('sensor')" ng-class="expandables['sensor']">Parameter - Sensor</h4>
  <section ng-show="expandables['sensor']" >
    <p>
      <select ng-model="selectedSensor" ng-options="sensor.id as sensor.label for sensor in sensors">
      </select>
    </p>
  </section>


  <h4 ng-click="toggle('location')" ng-class="expandables['location']">Location</h4>
  <section ng-show="expandables['location']">
    <div class="textfield">
      <p>
        <label>Address, Intersection, or Zip
          <input type="text" ng-model="data.location">
        </label>
      </p>
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="update()">show</li>
      </ul>
    </div>
  </section>

  <h4 ng-click="toggle('usernames')" ng-class="expandables['usernames']">Profile names</h4>
  <section ng-show="expandables['usernames']">
    <div class="textfield">
      <input type="text" ng-model="data.usernames">
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="reset('usernames')">reset</button></li>
        <li><button ng-click="update()">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="toggle('tags')" ng-class="expandables['tags']">Tags</h4>
  <section ng-show="expandables['tags']">
    <div class="textfield">
      <input type="text" ng-model="data.tags">
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="reset('tags')">reset</button></li>
        <li><button ng-click="update()">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="toggle('time')" ng-class="expandables['time']" >Time Range</h4>
  <section ng-show="expandables['time']">
    <div>
      <label>Hours:Minutes</label>
      <div class="slider">
        <input timepicker class="narrow" type="text" ng-model="data.time.timeFrom"></input>
        <div slider slider-max="maxTime" slider-min="minTime" slider-value="[data.time.timeFrom, data.time.timeTo].join(',')" slider-range="true" slider-callback="onTimeSlide"></div>
        <input timepicker class="narrow" type="text" ng-model="data.time.timeTo"></input>
      </div>
    </div>
    <div>
      <label>Month/Day</label>
      <div class="slider">
        <input monthday class="narrow" type="text" ng-model="data.time.dayFrom"></input>
        <div slider slider-max="maxDay" slider-min="minDay" slider-value="[data.time.dayFrom, data.time.dayTo].join(',')" slider-range="true" slider-callback="onMonthDaySlide"></div>
        <input monthday class="narrow" type="text" ng-model="data.time.dayTo"></input>
      </div>
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="reset('time')">reset</button></li>
        <li><button ng-click="update()">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="toggle('resolution')" ng-class="expandables['resolution']">CrowdMap Resolution</h4>
  <section ng-show="expandables['resolution']">
    <div>
      <div class="slider full-slider">
        <div slider slider-max="maxResolution" slider-min="minResolution" slider-value="data.gridResolution" slider-callback="onResolutionSlide" ></div>
        <span>{{data.gridResolution}}</span>
      </div>
    </div>

    <div>
      <ul class="buttons">
        <li><button ng-click="reset('resolution')">reset</button></li>
        <li><button ng-click="update()">submit</button></li>
      </ul>
    </div>
  </section>
  <div ng-include src="'/partials/heat_legend.html'"></div>
</div>
