<div ng-controller="InfoWindowCtrl">
  <h1 class="info-window__sensor">{{sensors.selected().label}}</h1>
  <p class="info-window__avg">avg. <strong>{{infoWindow.data.average | number:0 }}</strong> {{sensors.selected().unit_symbol }}</p>
  <hr>
  <ul class="info-window__list">
    <li>{{infoWindow.data.number_of_instruments }} instruments</li>
    <li>{{infoWindow.data.number_of_samples }} measurements</li>
    <li>{{infoWindow.data.number_of_contributors }} contributors</li>
    <a class="info-window__link" ng-click="zoomIn()">zoom in and show sessions →</a>
  </ul>
</div>
