<div ng-controller="InfoWindowCtrl" >
  <ul>
    <li><span>Sensor: </span>{{sensors.selected().label}}</li>
    <li><span>Avg Measurement: </span>{{infoWindow.data.average | number:0 }}
      {{sensors.selected().unit_symbol }}</li>
    <li><span># of Instruments: </span>{{infoWindow.data.number_of_instruments }}</li>
    <li><span># of Measurements: </span>{{infoWindow.data.number_of_samples }}</li>
    <li><span># of Contributors: </span>{{infoWindow.data.number_of_contributors }}</li>
    <li><span>Top Contributors: </span>{{infoWindow.data.top_contributors.join(', ') }}</li>
  </ul>
</div>
