<div ng-controller="HeatCtrl">
  <h4 ng-click="expandables.toggle('heat')" ng-class="expandables.css('heat')">Heat Legend Units</h4>
  <section ng-show="expandables.visible('heat')">
    <div class="slider">
      <input type="number" ng-model="storage.data.heat.highest" class="highest narrow"></input>
      <p class="small-text">values greater than this won't be displayed</p>
    </div>
    <div class="slider wide-slider">
      <input type="number" ng-model="storage.data.heat.high" class="high narrow"></input>
      <div slider slider-max="storage.data.heat.highest - 1" slider-min="storage.data.heat.mid + 1" slider-value="storage.data.heat.high" slider-callback="storageEvents.onHeatChangeHigh"></div>
    </div>
    <div class="slider wide-slider">
      <input type="number" ng-model="storage.data.heat.mid" class="mid narrow"></input>
      <div slider slider-max="storage.data.heat.high - 1" slider-min="storage.data.heat.low + 1" slider-value="storage.data.heat.mid" slider-callback="storageEvents.onHeatChangeMid"></div>
    </div>
    <div class="slider wide-slider">
      <input type="number" ng-model="storage.data.heat.low" class="low narrow"></input>
      <div slider slider-max="storage.data.heat.mid - 1" slider-min="storage.data.heat.lowest + 1" slider-value="storage.data.heat.low" slider-callback="storageEvents.onHeatChangeLow"></div>
    </div>
    <div class="slider">
      <input type="number" ng-model="storage.data.heat.lowest" class="lowest narrow"></input>
      <p class="small-text">values less than this won't be displayed</p>
    </div>

    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('heat')">reset</button></li>
        <li><button ng-click="storage.update('heat')">submit</button></li>
      </ul>
    </div>
    </section>
  <section>
  <div>
    <ul class="legend">
        <li class="low" ng-style="heat.heatPercentage.low">
          <span class="start">{{params.get('heat').lowest}}{{sensors.selected().unit_symbol}}</span>
        </li>
        <li class="mid" ng-style="heat.heatPercentage.mid">
          <span class="start">{{params.get('heat').low}}{{sensors.selected().unit_symbol}}</span>
        </li>
        <li class="high" ng-style="heat.heatPercentage.high">
          <span class="start">{{params.get('heat').mid}}{{sensors.selected().unit_symbol}}</span>
        </li>
        <li class="highest" ng-style="heat.heatPercentage.highest">
          <span class="start">{{params.get('heat').high}}{{sensors.selected().unit_symbol}}</span>
          <span class="end">{{params.get('heat').higest}}{{sensors.selected().unit_symbol}}</span>
        </li>
      </ul>
    </div>
  </section>
</div>
