<div id="sessions-tab">
  <div ng-hide="expandables.allHidden" id="sessions" ng-include="versioner.path('/partials/sessions_list.html')"></div>
  <div ng-hide="expandables.allHidden" id="sessions-graph" ng-include="versioner.path('/partials/graph.html')"></div>

  <div id="sessions-map-tab" class="tab-content" ng-hide="expandables.allHidden">
    <div ng-show="!singleSession.get()">
      <h4 ng-click="expandables.toggle('sensor')" ng-class="expandables.css('sensor')">Parameter - Sensor</h4>
      <section ng-show="expandables.visible('sensor')" >
      <p>
        <label for="mobile-parameters-dropdown" class="visuallyhidden">Parameter</label>
        <select id="mobile-parameters-dropdown" ng-model="sensors.selectedParameter" ng-options="parameter as parameter.label for parameter in sensors.availableParameters track by parameter.id"></select>
      </p>
      <p>
        <label for="mobile-sensors-dropdown" class="visuallyhidden">Sensor</label>
        <select id="mobile-sensors-dropdown" ng-model="params.get('data').sensorId" ng-options="sensor.id as sensor.select_label for sensor in sensors.availableSensors"></select>
      </p>
      </section>

      <h4 ng-click="expandables.toggle('location')" ng-class="expandables.css('location')">Location</h4>
      <section ng-show="expandables.visible('location')">
        <div class="textfield">
          <p>
            <label for="mobile-session-location">Address, Intersection, or Zip
              <input id="mobile-session-location" type="text" ng-model="storage.data.location.address">
            </label>
          </p>
        </div>
        <div>
          <ul class="buttons">
            <li><button ng-click="storage.reset('location')">reset</li>
            <li><button ng-click="searchSessions()">submit</li>
          </ul>
        </div>
      </section>

      <div id="newMobileFilters"></div>

      <div class="section-divider" ng-include="versioner.path('/partials/time_filters.html')"></div>
    </div>
    <div ng-switch on="!singleSession.get() &&!!sensors.anySelected()">
      <div ng-switch-when="true">
        <h4 ng-click="expandables.toggle('heatLegend')" ng-class="expandables.css('heatLegend')">Heat Legend</h4>
        <section ng-show="expandables.visible('heatLegend')">
          <div class="section-divider" ng-include="versioner.path('/partials/heat_legend.html')"></div>
        </section>
      </div>
    </div>
    <div ng-switch on="!!singleSession.get() && !!sensors.anySelected()">
      <div ng-switch-when="true">
        <h4>Heat Legend</h4>
        <div class="section-divider" ng-include="versioner.path('/partials/heat_legend.html')"></div>
      </div>
    </div>
  </div>
</div>
