<div ng-controller="NoteCtrl" class="note-window">
  <div class="header">
    <span class="date">{{note.date}}</span>
    <div class="right">
      <span class="number">{{idx}}/{{total}}</span>
      <a ng-click="prev()" class="prev-note" title="View previous note"></a>
      <a ng-click="next()" class="next-note" title="View next note"></a>
    </div>
  </div>
  <div class="content" ng-show="note.photo">
    <a href="{{note.photo}}" >
     <div class="photo">
        <img src="{{note.photo_thumbnail}}" />
      </div>
    </a>
    <p>{{note.text}}</p>
  </div>
</div>
