<section class="sessions">
<div id="sessions-top">
  <div class="name"><span>Sessions</span></div>
  <ul class="buttons">
    <li><button id="toggle-all-sessions">all</button></li>
  </ul>
</div>
<div class="nomargin">
  <div class="sessions-container">
    <ul id="session-list"></ul>
  </div>
</div>
</section>

<section class="graph">
<div id="graph-top">
  <div id="graph-header">Sessions Graph</div>
  <a id="graph-arrow"></a>
</div>
<div id="graph-box">
  <span id="graph-label-top"></span>
  <span id="graph-label-bottom"></span>
  <div id="graph">
  </div>
  <div id="graph-background">
    <div class="high"></div>
    <div class="midhigh"></div>
    <div class="mid"></div>
    <div class="low"></div>
  </div>
  <div id="graph-bottom">
    <div id="graph-label-left">Left</div>
    <div id="graph-label-right">right</div>
  </div>
</div>
</section>

<div id="sessions-map-tab">
  <h4 ng-click="expandables.toggle('sensor')" ng-class="expandables.css('sensor')">Parameter - Sensor</h4>
  <section ng-show="expandables.visible('sensor')" >
  <p>
    <select ng-model="params.getData().sensorId" ng-options="sensor.id as sensor.label for (sensorId, sensor) in sensors.get()">
      </select>
    </p>
  </section>

  <h4 ng-click="expandables.toggle('location')" ng-class="expandables.css('location')">Location</h4>
  <section ng-show="expandables.visible('location')">
    <div class="textfield">
      <p>
        <label>Address, Intersection, or Zip
          <input type="text" ng-model="storage.data.location.address">
        </label>
      </p>
      <p>
        <label>Within</label>
        <select ng-model="storage.data.location.distance">
          <option value="1">1 Mile radius</option>
          <option value="5">5 Miles radius</option>
          <option value="10">10 Miles radius</option>
          <option value="20">20 Miles radius</option>
        </select>
      </p>

      <p>
        <input type="checkbox" ng-model="storage.data.location.limitToViewport" >
        <label>Limit my search to the current map view</label>
      </p>
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="storage.update('location')">show</li>
      </ul>
    </div>
  </section>

  <h4 ng-click="expandables.toggle('usernames')" ng-class="expandables.css('usernames')">Profile names</h4>
  <section ng-show="expandables.visible('usernames')">
    <div class="textfield">
      <input type="text" ng-model="storage.data.usernames">
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('usernames')">reset</button></li>
        <li><button ng-click="storage.update('usernames')">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="expandables.toggle('tags')" ng-class="expandables.css('tags')">Tags</h4>
  <section ng-show="expandables.visible('tags')">
    <div class="textfield">
      <input type="text" ng-model="storage.data.tags">
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('tags')">reset</button></li>
        <li><button ng-click="storage.update('tags')">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="expandables.toggle('time')" ng-class="expandables.css('time')" >Time Range</h4>
  <section ng-show="expandables.visible('time')">
    <div>
      <label>Hours:Minutes</label>
      <div class="slider">
        <input timepicker class="narrow" type="text" ng-model="storage.data.time.timeFrom"></input>
        <div slider slider-max="maxTime" slider-min="minTime" slider-value="[storage.data.time.timeFrom, storage.data.time.timeTo].join(',')" slider-range="true" slider-callback="storageEvents.onTimeSlide"></div>
        <input timepicker class="narrow" type="text" ng-model="storage.data.time.timeTo"></input>
      </div>
    </div>
    <div>
      <label>Month/Day</label>
      <div class="slider">
        <input monthday class="narrow" type="text" ng-model="storage.data.time.dayFrom"></input>
        <div slider slider-max="maxDay" slider-min="minDay" slider-value="[storage.data.time.dayFrom, storage.data.time.dayTo].join(',')" slider-range="true" slider-callback="storageEvents.onMonthDaySlide"></div>
        <input monthday class="narrow" type="text" ng-model="storage.data.time.dayTo"></input>
      </div>
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('time')">reset</button></li>
        <li><button ng-click="storage.update('time')">submit</button></li>
      </ul>
    </div>
  </section>

  <h4 ng-click="expandables.toggle('gridResolution')" ng-class="expandables.css('gridResolution')">CrowdMap Resolution</h4>
  <section ng-show="expandables.visible('gridResolution')">
    <div>
      <div class="slider full-slider">
        <div slider slider-max="maxResolution" slider-min="minResolution" slider-value="storage.data.gridResolution" slider-callback="storageEvents.onResolutionSlide" ></div>
        <span>{{storage.data.gridResolution}}</span>
      </div>
    </div>

    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('gridResolution')">reset</button></li>
        <li><button ng-click="storage.update('gridResolution')">submit</button></li>
      </ul>
    </div>
  </section>
  <div ng-include src="'/partials/heat_legend.html'"></div>
</div>

