<div id="left-hud" ng-include src="'/partials/left_hud.html'"></div>
<div id="sessions" ng-include src="'/partials/sessions_list.html'"></div>
<div id="sessions-graph" ng-include src="'/partials/graph.html'"></div>


<div id="right-hud">
  <div id="panel" ng-include src="'/partials/panel.html'"></div>
  <div id="sessions-map-tab" class="tab-content">
    <h4 ng-click="expandables.toggle('sensor')" ng-class="expandables.css('sensor')">Parameter - Sensor</h4>
    <section ng-show="expandables.visible('sensor')" >
    <p>
      <select ng-model="params.get('data').sensorId" ng-options="sensor.id as sensor.label for (sensorId, sensor) in sensors.get()">
        <option value="">All</option>
      </select>
    </p>
    </section>

    <h4 ng-click="expandables.toggle('location')" ng-class="expandables.css('location')">Location</h4>
    <section ng-show="expandables.visible('location')">
      <div class="textfield">
        <p>
          <label>Address, Intersection, or Zip
            <input type="text" ng-model="storage.data.location.address">
          </label>
        </p>
        <p>
          <label>Within</label>
          <select ng-model="storage.data.location.distance">
            <option value="1">1 Mile radius</option>
            <option value="5">5 Miles radius</option>
            <option value="10">10 Miles radius</option>
            <option value="20">20 Miles radius</option>
          </select>
        </p>

        <p>
          <input type="checkbox" ng-model="storage.data.location.limitToViewport" >
          <label>Limit my search to the current map view</label>
        </p>
      </div>
      <div>
        <ul class="buttons">
          <li><button ng-click="storage.update('location')">show</li>
        </ul>
      </div>
    </section>

    <div class="section-divider" ng-include src="'/partials/usernames_and_tags.html'"></div>
    <div class="section-divider" ng-include src="'/partials/time_filters.html'"></div>
    <div ng:show="sensors.selected()" class="section-divider" ng-include src="'/partials/heat_legend.html'"></div>
  </div>
</div>
