<div ng-controller="TimeFiltersCtrl">
  <h4 ng-click="expandables.toggle('time')" ng-class="expandables.css('time')" >Time Range</h4>
  <section ng-show="expandables.visible('time')">
    <div>
      <label>Hours:Minutes</label>
      <div class="slider">
        <input timepicker class="narrow" type="text" ng-model="storage.data.time.timeFrom"></input>
        <div rangeslider slider-max="maxTime" slider-min="minTime" slider-value="[storage.data.time.timeFrom - utils.timeOffset, storage.data.time.timeTo - utils.timeOffset].join(',')" slider-onslide="storageEvents.onTimeSlide"></div>
        <input timepicker class="narrow" type="text" ng-model="storage.data.time.timeTo"></input>
      </div>
    </div>
    <div class="section-divider">
      <label>Month/Day</label>
      <div class="slider">
        <input monthday class="narrow" type="text" ng-model="storage.data.time.dayFrom"></input>
        <div rangeslider slider-max="maxDay" slider-min="minDay" slider-value="[storage.data.time.dayFrom, storage.data.time.dayTo].join(',')" slider-onslide="storageEvents.onMonthDaySlide"></div>
        <input monthday class="narrow" type="text" ng-model="storage.data.time.dayTo"></input>
      </div>
    </div>
    <div class="section-divider">
      <label>Year</label>
      <div class="slider">
        <input number class="narrow" type="text" ng-model="storage.data.time.yearFrom"></input>
        <div rangeslider slider-max="maxYear" slider-min="minYear" slider-value="[storage.data.time.yearFrom, storage.data.time.yearTo].join(',')" slider-onslide="storageEvents.onYearSlide"></div>
        <input number class="narrow" type="text" ng-model="storage.data.time.yearTo"></input>
      </div>
    </div>
    <div>
      <ul class="buttons">
        <li><button ng-click="storage.reset('time')">reset</button></li>
        <li><button ng-click="storage.update('time'); searchSessions();">submit</button></li>
      </ul>
    </div>
  </section>
</div>
