$button-color: #858585;
$button-front: #fff;
$link-color: #669900;

[ng-cloak], .ng-cloak {
  display: none;
}
.error {
  color: red;
}

@mixin button {
  color:#fff;
  background: $button-color;
  font-weight:bold;
  padding:5px 10px;
  border:0;
  text-decoration:none;
}

html {
  height: 100%;
  width: 100%;
  font: 14px/1.5 Helvetica,Arial,sans-serif;
  color: #858585;
}

button, .button {
  @include button;
}

a {
  color: $link-color;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

#left-hud {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  // height: 400px;
  z-index: 1000;
  color: white;

  a {
    color: white;
    text-decoration: none;
    display:block;
    padding:4px;
  }

  #logo {
    background-color: #858585;
    width: 160px;
    height: 174px;
    float: left;
    margin: 0 3px 3px 0;

    padding-top: 15px;
    font-weight: bold;
    text-align: center;
  }

  #nav {
    width: 80px;
    height: 100px;
    float: left;
    font-size: 14px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 0 3px 0;
        font-weight: bold;
        background-color: #858585;
        text-transform: uppercase;
      }

      li.active {
        background-color: white;
        color: #858585;

        a {
          color: #858585;
        }
      }
    }
  }

  #account {
    font-size: 13px;
    width: 160px;
    float: left;

    #account-status {
      opacity: 0.9;
      background-color: #858585;
      padding: 5px;
      text-align: center;
      // height: 20px;
      margin-bottom: 3px;
      font-weight: bold;

      #sign-in-link {
      }
    }

    #sign-in {
      opacity: 0.9;
      background-color: #858585;
      width: 223px;
      padding: 5px;

      input[type=email], input[type=password], input[type=text] {
        width: 98%;
      }

      .errors {
        color: red;
      }
    }
  }
}

#jquery-overlay {
  z-index: 2000 !important;
}

#jquery-lightbox {
  z-index: 2050 !important;
}
