@import "./config/animations";
@import "./config/flexbox";
@import "./config/jquery-ui-assets";
@import "./config/normalize";
@import "./config/mixins";
@import "./config/typography";
@import "./config/variables";

@import "./global/backgrounds";
@import "./global/global";
@import "./global/forms";

@import "./modules//buttons-links";
@import "./modules/filters-popups";
@import "./modules/heatmap";
@import "./modules/map";
@import "./modules/map-filters";
@import "./modules/markers";
@import "./modules/reset-button";
@import "./modules/sessions";
@import "./modules/site-nav";
@import "./modules/single-session";
@import "./modules/spinner";
@import "./modules/static";
@import "./modules/time-filter-calendar";
@import "./modules/toggle-button";

.first-band {
  fill: $green;
}

.second-band {
  fill: $yellow;
}

.third-band {
  fill: $orange;
}

.fourth-band {
  fill: $red;
}
