// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";
@import "mixins";

$right-hud-width: 320px;

body#map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 600px;
}

#mapview {
  height: 100%;
  width: 100%;
  position: fixed !important;
  z-index: 1;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity:0.6;
  z-index: 50;
}

#left-hud {
  position: fixed !important;
}

#hud_view {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid $text-color;
  margin-top: -2px;
  padding: 10px;
}

http-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  height: 30px;
  width: 30px;
  z-index: 100;
}

.infoWindow {
  width: 250px;
  font-size: 12px;
  height: 140px !important;
  overflow-y: auto;
  margin-right: 15px;

  ul {
    padding-left: 5px;
    list-style: none;
    height:100%;

    li {
      max-width: 230px;
      span {
          font-weight:bold;
        }

    }
  }
}

#zoom-box {
  position: fixed;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 2;
  width: 182px;
  background: url("zoom-center.png") repeat-x center center;

  .content {
    position: relative;

    #zoom-in, #zoom-out {
      width: 16px;
      height: 16px;
      top: 2px;
      position: absolute;
    }

    #zoom-in {
      background: url("zoom-in.png") no-repeat center center;
      right: 0;
    }

    #zoom-out {
      background: url("zoom-out.png") no-repeat center center;
      left: 0;
    }

    #zoom-slider {
      border:none;
      width: 140px;
      left: 21px;
      background: transparent;

      a.ui-slider-handle {
        background: url("handle.png") no-repeat center center;
        border:none;
        margin-top:5px;
        outline:none;
      }
    }

  }
}

.buttons {
  float:right;
  list-style:none;
  margin:0;
  padding:0;

  li {
    display:inline;
  }
}

.textfield {
  input {
    width:98%;
  }
}

.slider {
  clear:both;
  padding: 2px 0 0;

  input.narrow {
    float: left;
    line-height: 13px;
    height: 16px;
    width: 42px !important;
    padding: 2px;
    color: $text-color;
    text-align: center;

    &:last-child {
      float:right;
    }

    &.highest {
      border:2px solid #F4001C;
    }
    &.high {
      border:2px solid #F57F22;
    }
    &.mid {
      border:2px solid #F9DC2E;
    }
    &.low {
      border:2px solid #2DA641;
    }
    &.lowest {
      border:2px solid #ccc;
    }
  }

  .ui-slider {
    float:left;
    margin:0 15px;
  }
}

.full-slider {
  .ui-slider {
    margin-left:10px;
  }
}

.crowd-map-slider {
  margin-left:10px;
  margin-right:10px;
  width: 85%;
}

.legend {
  margin:0;
  padding:20px 0 0;
  clear:both;
  font-size:12px;
  font-weight:normal;
  color:#000;
  height:40px;

  li {
    display:block;
    float:left;
    position:relative;
    height:20px;

    .start {
      position:absolute;
      top: -20px;
      left:-10px;
    }

    .end {
      position:absolute;
      bottom: -20px;
      right: -10px;
    }
    span {
      white-space:nowrap;
      color: $text-color;
    }
  }

  .low {
    background: rgb(45,166,65);
    width:60%;

    .start {
      left:0;
      bottom:-20px;
      top:auto;
    }
  }

  .mid {
    background: rgb(249,220,46);
    width:10%;
  }

  .high {
    background: rgb(245,127,34);
    width:10%;

    .start {
      bottom:-20px;
      top:auto;
    }
  }

  .highest {
    background: rgb(244,0,28);
    width:20%;

    .end {
      right:0;
    }
  }
}

.note-window {
  width: $right-hud-width;
  height: 140px !important;
  overflow-y: auto;
  margin-right: 15px;

  .header {
    background: rgb(133, 133, 133);
    color: white;
    padding: 2px 5px;
    margin-right: 15px;
    overflow: auto;

    .date {
      display: block;
      float: left;
    }

    .right {
      display: block;
      float: right;

      .number {
        float: left;
        margin-right: 5px;
      }

      .next-note, .prev-note {
        display: block;
        height: 19px;
        width: 24px;
        float: left;
      }

      .next-note {
        background-image: url("next_note.png")
      }

      .prev-note {
        background-image: url("prev_note.png")
      }
    }
  }

  .content {
    margin: 10px 16px 0 0;

    .photo {
      overflow: hidden;
      float: left;
      margin: 0px 10px 10px 0px;

      img {
        max-width: 100px;
        max-height: 100px;
        border: 1px solid #ccc;
      }
    }

    a.lightbox {
      display: block;
    }

    p {
      margin: 0;
    }
  }
}

#hud #right-hud {
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 10px;
  width: 320px;
  z-index: 10;
}

#right-hud #panel {
  width: $right-hud-width;
}
#right-hud {
  .panel-arrow {
    position:absolute;
    right:0px;
    top:0px;
    width:22px;
    height:22px;
    background: url("arrow-close.png") no-repeat right center;
    &.collapsed {
      background: url("arrow-open.png") no-repeat right center;
    }
  }

  #permalink {
    position: absolute;
    top: 0px;
    right: 26px;
    width: 42px;
    height: 22px;
    background: image-url("permalink.png") no-repeat right center;
    &.active {
      background: image-url("permalink-active.png") no-repeat right center;
      height:31px;
    }
  }
}

#hud  #hud-tabs {
  padding: 0;
  margin: 0;
  overflow: hidden;

  li {
    display: inline;
    float: left;

    color: white;
    background: $text-color;

    padding: 5px 10px;
    border: 2px solid $text-color;
    border-bottom: none;
    margin-right: 10px;

    &.active {
      background: rgb(255, 255, 255);

      a {
        color: $text-color;
        outline: none;
      }
    }
  }

  a {
    color:#fff;
    text-decoration: none;
  }
}

#hud #right-hud {
  position: absolute;
  top: 10px;
  right: 5px;
  width: $right-hud-width;
  z-index: 10;
}

#hud #right-hud {
  #crowd-map-tab section > div, #sessions-tab section > div {
    @include clearfix;
    margin:10px 0;
    &.nomargin {
      margin:0 0 0 0;
    }
  }

  .section-divider {
    @include clearfix;
  }

  #crowd-map-tab section.resolution .slider {
    height: 25px;
  }

  .ui-slider {
    width: $right-hud-width - 164px;
    position:relative;
    top:5px;
  }

  .wide-slider .ui-slider {
    width: $right-hud-width - 120px;
  }

  .full-slider .ui-slider {
    width: $right-hud-width - 80px;
  }

  .textfield input, .legend, .filters-input  {
    width: $right-hud-width - 30px;
  }

  .filters-input {
    margin: 5px 0 10px 0;
  }

  select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: $text-color;
    padding: 4px 3px 3px;
    outline: 0;
    max-width: 100%;
  }

  p {
    margin:5px 0 10px 0;
    font-weight: normal;
    label {
      margin:5px 0 0;
      display:block;
    }
    input[type="checkbox"] {
      width:auto;
      float:left;
      margin: 2px 5px auto auto;
      display:inline;
      text-indent: -15px;
      padding-left: 15px;

    }
  }

  h3 {
    margin:0 0 5px 0;
  }

  h4 {
    margin:0 0 5px 0;
    border-bottom: 1px dashed #ccc;
    padding:5px 0px;
  }

  .expandable {
    background: url("arrow-down.png") no-repeat right center;
    cursor: pointer;
    &.expanded {
      background: url("arrow-up.png") no-repeat right center;
    }
  }

  section {
    &.hidden {
      display:none;
    }
  }
}

.filters-tag {
  display: inline-block;
  background-color: #ccc;
  color: #525151;
  margin-right: 10px;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 3px 8px 3px 7px;
  border-radius: 15px;
  font-size: 12px;
}

.filters-tag-close {
  width: 8px;
  height: 8px;
  padding: 0 0 0 12px;
  background: url("close-icon.svg") no-repeat right center;
}

div.no-ie, div.notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FCE94F;
  opacity: 0.8;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  z-index: 1000000;
  color: black;
  font-weight: bold;
}

.ui-datepicker-year {
  display: none;
}

.ui-datepicker-calendar thead {
  display:none;
}

.ui-dialog .wide {
  width: 100%;
}

p.ui-dialog-content {
  font-family: Arial;
}

#hud #right-hud p.small-text {
  font-size:12px;
  float:left;
  margin-left:10px;
  margin-top:2px;
}

.permalink {
  color:#fff;
  background: none repeat scroll 0 0 #a9a9a9;
  color: #FFFFFF;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 12px 10px;
  position: absolute;
  top: 31px;
  width: 299px;

  label {
    font-weight:normal;
  }

  .close {
    cursor: pointer;
    background: url("close.png") no-repeat center center;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.marker {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  color: transparent;
  cursor: pointer;
  &.default {
    background-color: #757575;
  }
  &.highest {
    background-color: #F4001C;
  }

  &.high {
    background-color: #F57F22;
  }

  &.mid {
    background-color: #F9DC2E;
  }

  &.low {
    background-color: #2DA641;
  }
}

.data-marker {
  border-radius: 15px;
  background: white;
  font-size: 12px;
  padding: 0 5px 0 18px;
  border: 1.5px solid black;
  position: absolute;
  line-height: 18px;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
  left: -10px;
  top: -11px;
  &.highest {
    border: 1px solid #F4001C;
  }
  &.high {
    border: 1px solid #F57F22;
  }
  &.mid {
    border: 1px solid #FFCC33;
  }
  &.low {
    border: 1px solid #2DA641;
  }
  &.lowest {
    border: 1px solid #ccc;
  }
  &.default {
    border: 1px solid #757575;
  }
}

.data-marker::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3.6px;
}

.data-marker.highest::before {
  background: #F4001C;
}

.data-marker.high::before {
  background: #F57F22;
}

.data-marker.mid::before {
  background: #F9DC2E;
}

.data-marker.low::before {
  background: #2DA641;
}

.data-marker.default::before {
  background: #757575;
}

.data-marker::after {
  content: '';
  width: 45px;
  height: 45px;
  z-index: -1;
  position: absolute;
  left: -16px;
  top: -15px;
  border-radius: 50%;
  background: transparent;
}

.data-marker.default::after {
  background-image: radial-gradient(circle at 50%, rgba( 202, 200, 200, 1) 0%, rgba(244, 0, 28, 0) 70%);
}

.data-marker.highest::after, .marker.highest::after {
  background-image: radial-gradient(circle at 50%, rgba(246, 52, 52, 1) 0%, rgba(244, 0, 28, 0) 70%);
}

.data-marker.high::after, .marker.high::after {
  background-image: radial-gradient(circle at 50%, rgba(246, 150, 74, 1) 0%, rgba(245, 127, 34, 0) 70%);
}

.data-marker.mid::after, .marker.mid::after {
  background-image: radial-gradient(circle at 50%, rgba(250, 226, 84, 1) 0%, rgba(255, 204, 51, 0) 70%);
}

.data-marker.low::after, .marker.low::after {
  background-image: radial-gradient(circle at 50%, rgba(83, 182, 99, 1) 0%, rgba(45, 166, 65, 0) 70%);
}

.marker-container {
  position: absolute;
  height: 0px;
  width: 100px;
  background-color: red;
}
