// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sessions-list-height:300px;
$sessions-list-width:238px;

section.sessions {
  width: $sessions-list-width;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  position: fixed;
  padding: 0px;
  border: 2px solid rgb(133, 133, 133);
  top: 255px;
  left: 10px;
  
  #sessions-top {
      position:absolute;
      top:-40px;
      left:-2px;
      width:$sessions-list-width + 4px;
      
      .name {
            background: #fff;
            border: 2px solid #858585;
            font-weight:bold;
            padding:6px 16px 1px;
            float: left;
            border-bottom: none;
            }
      }

  label.narrow {
    width: 170px;
  }
}

.sessions-container {
  height: $sessions-list-height;
  overflow: auto;

  ul {
    list-style:none;
    margin:0;
    padding:0;
  }

  li {
    padding:5px 10px;
    clear:both;
    overflow: hidden;

    &:nth-child(2n+1) {
      background:#eee;
    }

    input[type="checkbox"], input {
      float:left;
      margin:3px 0 0;
    }

    dl {
      float:left;
      margin:0 0 0 10px;
    }

    dt, dd {
      color:#000;
      font-weight:normal;
    }

    dt {
      font-size:14px;
    }

    dd {
      font-size:11px;
      margin:0;
    }

    label {
      display: block;
      cursor: pointer;
    }
  }

  li.selected {
    background: #d5e9ff
  }
}
