// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sessions-list-height: 300px;
$sessions-list-width: 238px;
$graph-header-width: 145px;

section.sessions {
  width: $sessions-list-width;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  position: fixed;
  padding: 0px;
  border: 2px solid rgb(133, 133, 133);
  top: 255px;
  left: 10px;

  #sessions-top {
    position:absolute;
    top:-40px;
    left:-2px;
    width:$sessions-list-width + 4px;

    .name {
      background: #fff;
      border: 2px solid #858585;
      font-weight:bold;
      padding:6px 16px 1px;
      float: left;
      border-bottom: none;
    }
  }

  label.narrow {
    width: 170px;
  }
}

#right-hud section.graph {
  width: 30%;
  height: 140px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  position: fixed;
  padding: 0px;
  border: 2px solid rgb(133, 133, 133);
  bottom: 41px;
  left: $sessions-list-width + 20px;

  #graph-top {
    top: -40px;
    left: -2px;
    position: absolute;
    width: 100%;

    #graph-header {
      background: #fff;
      border: 2px solid #858585;
      font-weight:bold;
      padding:6px 16px 1px;
      float: left;
      border-bottom: none;
      width: $graph-header-width - 32px;
    }

    #graph-arrow {
      position: absolute;
      top: 0px;
      left: $graph-header-width + 10px;
      width: 22px;
      height: 22px;
      background: url("arrow-close.png") no-repeat right center;
      &.collapsed {
        background: url("arrow-open.png") no-repeat right center;
      }
    }
  }

  #graph, #graph-background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }

  #graph {
    z-index: 1;
  }

  #graph-background {
    z-index: 0;

    div {
      margin: 0;
      width: 100%;
      height: 25%;
    }

    .low {
      background: #65C68A;
    }

    .mid {
      background: #FEE665;
    }

    .midhigh {
      background: #FEB065;
    }

    .high {
      background: #FE6465;
    }
  }
}

.sessions-container {
  height: $sessions-list-height;
  overflow: auto;

  ul {
    list-style:none;
    margin:0;
    padding:0;
  }

  li {
    padding:5px 10px;
    clear:both;
    overflow: hidden;

    &:nth-child(2n+1) {
      background:#eee;
    }

    input[type="checkbox"], input {
      float:left;
      margin:3px 0 0;
    }

    dl {
      float:left;
      margin:0 0 0 10px;
    }

    dt, dd {
      color:#000;
      font-weight:normal;
    }

    dt {
      font-size:14px;
    }

    dd {
      font-size:11px;
      margin:0;
    }

    label {
      display: block;
      cursor: pointer;
    }
  }

  li.selected {
    background: #d5e9ff
  }
}
