@import 'global';

#home {
  background:#f2f2f2;
  font-size: 17px;

  #left-hud {
    position:fixed;
  }
}

#content {
  margin-left:270px;
  _width:640px; // for old IE set width to 640px
  max-width:640px;
  background:#fff;
  padding:15px 30px;

  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,.15);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,.15);
  -o-box-shadow: 0 0 15px rgba(0,0,0,.15);
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.button {
  @include button;
}

.inline-image {
  float: left;
  margin-right: 5px;
}

.feature {
  float: left;
  width: 32%;
  font-weight: bold;
  margin-right: 10px;
  text-align:center;

  img {
    margin-bottom: 10px;
  }

  &.last, &:last-child, &:nth-child(3n) {
    margin-right:0;
  }
}

.features {
  overflow: hidden;
}

.desc {
  overflow: hidden;
}

p.download {
  text-align: center;
}

.download-link {
  font-weight: bold;
}

.paypal_button {
  text-align: center;
}

.address {
  text-align: center;
}

.display {
  display: block !important;
}

.display-none {
  display: none !important;
}

.columns {
  .col1, .col2, .col3 {
    float: left;
    width: 213px;
    padding-top: 5px;
  }
  .col2 {
    padding-left: 30px;
    padding-top: 50px;
    width: 183px;
  }
  .col3 {
    padding-top: 18px;
  }

  .habitatmap {
    background: url("/assets/HM_LogoForAC.jpg") no-repeat;
    height: 81px;
    width: 57px;
    display: block;
  }

  .twitter-link, .facebook-link {
    display: inline-block;
    width: 35px;
    height: 30px;
  }
  .twitter-link {
    background: url("/assets/AC_TwitterLogo.jpg") no-repeat;
    margin-right: 15px;
  }
  .facebook-link {
    background: url("/assets/AC_FacebookLogo.jpg") no-repeat;
  }
  .label {
    display:block;
    font-weight: bold;
  }

  .social {
    .label {
      padding-left: 10px;
    }
  }

  form {
    input[type=email], input[type=text]  {
      margin: 0 0 10px 0;
      width: 203px;
      border: 1px solid #858585;
      color: #858585;
      padding: 3px;
    }
    input[type=submit] {
      background-color: #858585;
      color: #fff;
      border: none;
      font-weight: bold;
      margin-right: 3px;
      padding: 5px 5px;
      float: right;
    }
  }
}
a{
  font-weight: bold;
}
.about-page {
  a {
    font-weight: normal;
  }
  h2{
    margin-bottom: 0px;
  }

  p{
    margin-top: 0px;
  }
}

ul.home-list {
  margin: 0 0 0 5px;
  padding: 0 0 0 15px;
  li {
    list-style-type: disc;
  }
}

.howitworks {
  z-index: 1;
}

.kickstarter {
  position: absolute;
  left: 9%;
  padding-top: 45px;
  z-index: 2;
}
