
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url("../../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../../fonts/Roboto-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url("../../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../../fonts/Roboto-Medium.woff2") format("woff2");
  }


@font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url("../../fonts/Roboto-Condensed-Regular.woff2") format("woff2"),
      url("../../fonts/Roboto-Condensed-Regular.woff2") format("woff2");
  }