<div class="accordion">
<h4>Time Range</h4>
<section class="collapsible">

<div>
  <label>Hours:Minutes</label>
  <div class="slider">
    <input class="time-from-label" type="text" id="time-from-label"></input>
    <div id="time-slider"></div>
    <input class="time-to-label" type="text" id="time-to-label"></input>
  </div>
</div>

<div>
  <label>Month/Day</label>
  <div class="slider">
    <input class="day-from-label month-day" type="text" id="day-from-label"></input>
    <div id="day-slider"></div>
    <input class="day-to-label month-day" type="text" id="day-to-label"></input>
  </div>
</div>

<!--
<div>
  <label>Year</label>
  <div class="slider">
    <input type="text" id="year-from-label"></input>
    <div id="year-slider"></div>
    <input type="text" id="year-to-label"></input>
  </div>
</div>
-->
<div>
  <ul class="buttons">
    <li><button id="reset-time">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>

<h4>Tags</h4>
<section class="collapsible">

<div class="textfield">
  <input type="text" id="tags">
</div>
<div>
  <ul class="buttons">
    <li><button id="reset-tags">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>

<h4>Profile names</h4>
<section class="collapsible">

<div class="textfield">
  <input type="text" id="usernames">
</div>
<div>
  <ul class="buttons">
    <li><button id="reset-usernames">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>

</section>

<h4>CrowdMap Resolution</h4>
<section class="collapsible">

<div>
  <div class="slider full-slider">
    <div id="resolution-slider"></div>
    <span id="resolution-label"></span>
  </div>
</div>

<div>
  <ul class="buttons">
    <li><button id="reset-resolution">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>

<h4>Heat Legend Units</h4>
<section class="collapsible">
<div>
  <ul class="legend">
    <li class="low">
      <span class="start">20dB</span>
    </li>
    <li class="mid">
      <span class="start">60dB</span>
    </li>
    <li class="midhigh">
      <span class="start">70dB</span>
    </li>
    <li class="high">
      <span class="start">80dB</span>
      <span class="end">100dB</span>
    </li>
  </ul>
</div>
</section>
</div>
