<div class="accordion">
<h4 class="expanded">Location</h4>
<section class="collapsible">
<div class="textfield">
  <p>
    <label for="show-location-input">Address, Intersection, or Zip</label>
    <input type="text" id="show-location-input">
  </p>
</div>

<div>
  <ul class="buttons">
    <li><button id="show-location">show</li>
  </ul>
</div>
</section>

<h4 class="expanded">Profile names</h4>
<section class="collapsible">

<div class="textfield">
  <input type="text" id="usernames">
</div>
<div>
  <ul class="buttons">
    <li><button id="reset-usernames">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>

</section>

<h4>Tags</h4>
<section class="collapsible hidden">

<div class="textfield">
  <input type="text" id="tags">
</div>
<div>
  <ul class="buttons">
    <li><button id="reset-tags">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>

<h4>Time Range</h4>
<section class="collapsible hidden">

<div>
  <label>Hours:Minutes</label>
  <div class="slider">
    <input class="narrow time-from-label timepicker" type="text" id="time-from-label"></input>
    <div id="time-slider"></div>
    <input class="narrow time-to-label timepicker" type="text" id="time-to-label"></input>
  </div>
</div>

<div>
  <label>Month/Day</label>
  <div class="slider">
    <input class="narrow day-from-label month-day" type="text" id="day-from-label"></input>
    <div id="day-slider"></div>
    <input class="narrow day-to-label month-day" type="text" id="day-to-label"></input>
  </div>
</div>

<!--
<div>
  <label>Year</label>
  <div class="slider">
    <input type="text" id="year-from-label"></input>
    <div id="year-slider"></div>
    <input type="text" id="year-to-label"></input>
  </div>
</div>
-->
<div>
  <ul class="buttons">
    <li><button id="reset-time">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>

<h4>CrowdMap Resolution</h4>
<section class="collapsible hidden">

<div>
  <div class="slider full-slider">
    <div id="resolution-slider"></div>
    <span id="resolution-label"></span>
  </div>
</div>

<div>
  <ul class="buttons">
    <li><button id="reset-resolution">reset</button></li>
    <li><button class="submit">submit</button></li>
  </ul>
</div>
</section>
</div>
