<h4>Heat Legend Units</h4>

<section class="collapsible">
  <div>
    <ul class="legend">
      <li class="low">
        <span class="start">20dB</span>
      </li>
      <li class="mid">
        <span class="start">60dB</span>
      </li>
      <li class="midhigh">
        <span class="start">70dB</span>
      </li>
      <li class="high">
        <span class="start">80dB</span>
        <span class="end">100dB</span>
      </li>
    </ul>
</div>
</section>
