<p>Region</p>
<dl>
  <dt>Average reading</dt>
  <dd><%= region.get("average") %></dd>

  <dt>Number of contributors</dt>
  <dd><%= region.get("number_of_contributors") %></dd>

  <dt>Top contributors</dt>
  <dd><%= region.get("top_contributors") %></dd>
</dl>
