<ul>
  <li><span>Average reading: </span><%= region.get("average") %></li>
  <li><span>Contributors: </span><%= region.get("number_of_contributors") %></li>
  <li><span>Top contributors: </span><%= region.get("top_contributors") %></li>
</ul>
