<div id="account">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
